.site-content {
	max-width: var(--site-content-max-width);
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;

  &::before, &::after {
    content: "";
    display: table;
    table-layout: fixed;
  }

  &::after {
    clear: both;
  }

  @mixin screens-md {
    padding: 0 4%;
  } 
}

.main-inner {
  position: relative;
}