.site-content {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;

  &:before, &:after {
    content: "";
    display: table;
    table-layout: fixed;
  }

  &:after {
    clear: both;
  }

  @mixin screens-md {
    padding: 0 4%;
  } 
}