.loading {
  background-position: center;
  background-repeat: no-repeat;
  color: #555;
  border: none;
  background-size: auto 100%;
  box-shadow: none;
  background-color: inherit;
  background-image: var(--loading-image);
}