<!--/* 首页随机图使用 style 实现，详见 decorate.html。 另外由于 Thymeleaf 不支持随机数，因此 rimage_cover_back_num 暂时无效。*/-->
<!--/*--> 
<figure id="centerbg" class="centerbg" style="background-image: url(
	<#if settings.rimage_cover_back_open!false && settings.rimage_url?? && settings.rimage_url!=''>
		${settings.rimage_url!}?home=home&type=url&itype=${settings.rimage_cover_back_itype!}&id=${(settings.rimage_cover_back_id)!''}&t=<#if settings.rimage_cover_back_num != 0>${randomMethod(1,settings.rimage_cover_back_num + 1)}<#else>${.now?string('yyyyMMddHHmmssSSS')}</#if>
	<#else>
	${settings.focus_img_1!'${res_base_url!}/source/images/hd.jpg'}
	</#if>
	);
	<#if !(settings.focus_height!true)>
		background-position: center center;background-attachment: inherit;
	</#if>
">
<!--*/-->
<figure id="centerbg" class="centerbg" th:fragment="imgbox">
  <th:block th:if="${theme.config.random_image.rimage_cover_back_open and (not #strings.isEmpty(theme.config.random_image.rimage_url))}">
    <img
      th:with="imageUrl = |${theme.config.random_image.rimage_url}?home=home&type=url&itype=${theme.config.random_image.rimage_cover_back_itype}${theme.config.random_image.rimage_cover_back_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_back_id : ''}&t=${#strings.randomAlphanumeric(1)}|"
      th:src="|${imageUrl}&th=150|"
      th:data-src="${imageUrl}"
      class="cover-bg lazyload blur-up"
      onerror="imgError(this)"
    />
  </th:block>
  <th:block th:unless="${theme.config.random_image.rimage_cover_back_open and (not #strings.isEmpty(theme.config.random_image.rimage_url))}">
    <img class="cover-bg" th:src="${theme.config.mainScreen.focus_img_1 ?: #theme.assets('/images/hd.jpg')}" />
  </th:block>

  <div class="focusinfo">
    <th:block th:replace="module/home/focus_tou"></th:block>
    <div class="header-info no-select" th:classappend="${#strings.isEmpty(site.subtitle) ? '' : 'info-desc'}" th:if="${theme.config.mainScreen.focus_infos and (not #strings.isEmpty(site.subtitle) or not #arrays.isEmpty(theme.config.sns.items))}" >
      <p th:if="${not #strings.isEmpty(site.subtitle)}">
        <i class="fa fa-quote-left"></i>
        <span class="desc" th:text="${site.subtitle}"></span>
        <i class="fa fa-quote-right"></i>
      </p>
      <div class="top-social" th:if="${not #arrays.isEmpty(theme.config.sns.items)}">
        <th:block th:replace="module/home/top_social"></th:block>
      </div>
    </div>
  </div>
</figure>
