<th:block th:fragment="top_social">
  <li id="bg-pre">
    <img class="flipx" th:src="@{/assets/images/next-b.svg}" />
  </li>
  <th:block th:each="item : ${theme.config.sns.items}">
    <th:block th:if="${item.url_type == 'normal'}">
      <li>
        <a
          th:href="${item.url}"
          target="_blank"
          class="social-sina"
        >
          <img th:src="@{/assets/images/sns/{icon}(icon=${item.icon})}" />
        </a>
      </li>
    </th:block>
    <th:block th:if="${item.url_type == 'image'}">
      <li class="wechat">
        <a href="#"></a>
        <img th:src="@{/assets/images/sns/{icon}(icon=${item.icon})}" />
        <div class="wechatInner">
          <img th:src="${item.url}"/>
        </div>
      </li>
    </th:block>
  </th:block>
  <li id="bg-next">
    <img th:src="@{/assets/images/next-b.svg}" />
  </li>
</th:block>