<div
  id="video-container"
  class="video-container"
  th:if="${theme.config.mainScreen.focus_height} and (${not #strings.isEmpty(theme.config.mainScreen.bgvideo_url)} or ${not #strings.isEmpty(theme.config.mainScreen.bgvideo_id)})"
>
  <video
    id="bgvideo"
    class="video"
    th:data-id="${theme.config.mainScreen.bgvideo_id}"
    th:data-server="${theme.config.mainScreen.bgvideo_server}"
    th:data-url="${theme.config.mainScreen.bgvideo_url}"
    width="auto"
    preload="auto"
    th:data-cid="${theme.config.mainScreen.bilibili_video_cid}"
    th:data-qn="${theme.config.mainScreen.bilibili_video_qn}"
    th:data-vtype="${theme.config.mainScreen.bilibili_video_vtype}"
  ></video>
  <div id="video-btn" class="video-btn loadvideo videolive"></div>
  <div class="video-stu"></div>
</div>
