<th:block th:fragment="group(photoGroups)">
  <div class="photos-group">
    <nav id="gallery-filter">
      <ul>
        <li>
          <a href="javascript:void(0);" data-filter="*" class="active" data-i18n="page.photos.all" aria-label="switch to all groups"></a>
        </li>
        <th:block th:each="group : ${photoGroups}">
          <li>
            <a
              href="javascript:void(0);"
              th:data-filter="|.group-${#strings.trim(group.metadata.name)}|"
              th:text="${group.spec.displayName}"
              aria-label="switch group"
            ></a>
          </li>
        </th:block>
      </ul>
    </nav>
  </div>
</th:block>
