.tag-wordcloud-container {
  width: 100vw;
  position: relative;
  left: -33.3%;

  & .jqcloud {
    height: 300px;
  }
}

.tags-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px 0;
  text-align: center;
  border: 0;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff 50%;
  background-size: cover;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);

  & .chip-container {
    & .card-content {
      padding: 24px;
      border-radius: 0 0 2px 2px;

      & .tag-title {
        margin-bottom: 10px;
        color: #3c4858;
        font-size: 1.75rem;
        font-weight: 400;
      }

      & .tag-chips {
        margin: 1rem auto 0.5rem;
        max-width: 850px;
        text-align: center;

        & .chip {
          margin: 10px 10px;
          padding: 19px 14px;
          display: inline-flex;
          line-height: 0;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12);
          z-index: 0;

          &:hover {
            color: #fff;
            background: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
          }

          &.chip-default {
            color: #34495e;

            & .tag-length {
              color: #9b8b2a;
              margin-top: 0px;
              margin-left: 5px;
              margin-right: -2px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
