.highlight-wrap {
  position: relative;
  background: #21252b;
  border-radius: 5px;
  font: 15px/22px "Microsoft YaHei", "Arial", Sans-Serif;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  text-shadow: none;
  color: #000;
  padding-top: 30px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);

  &::before {
    content: " ";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    left: 12px;
    margin-top: -18px;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    z-index: 1;
  }

  & code {
    word-break: break-word;
    font-family: "Source Code Pro", monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei",
      sans-serif;
    text-shadow: none;
    border-radius: 0 0 5px 5px;

    &::-webkit-scrollbar {
      height: 10x;
      width: 10x;
      background-color: #1d1f21;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #21252b;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      background-color: #21252b;
    }

    &[data-rel] {
      &::before {
        color: #fff;
        content: attr(data-rel);
        height: 30px;
        line-height: 30px;
        background: #21252b;
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: Ubuntu, sans-serif;
        font-weight: 700;
        text-indent: 15px;
        text-align: center;
        float: left;
        border-radius: 5px 5px 0 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        pointer-events: none;
      }
    }

    & .hljs-ln-line {
      &,
      & span {
        &::selection {
          background: #fff;
          color: #21252b;
        }
      }
    }

    & .hljs-comment,
    & .hljs-quote {
      color: #888f96;
      font-style: italic;
    }

    & .hljs-doctag,
    & .hljs-formula,
    & .hljs-keyword {
      color: #c678dd;
    }

    & .hljs-deletion,
    & .hljs-name,
    & .hljs-section,
    & .hljs-selector-tag,
    & .hljs-subst {
      color: #e06c75;
    }

    & .hljs-literal {
      color: #56b6c2;
    }

    & .hljs-addition,
    & .hljs-attribute,
    & .hljs-meta-string,
    & .hljs-regexp,
    & .hljs-string {
      color: #98c379;
    }

    & .hljs-built_in,
    & .hljs-class .hljs-title {
      color: #e6c07b;
    }

    & .hljs-attr,
    & .hljs-number,
    & .hljs-selector-attr,
    & .hljs-selector-class,
    & .hljs-selector-id,
    & .hljs-selector-pseudo,
    & .hljs-template-variable,
    & .hljs-type,
    & .hljs-variable {
      color: #d19a66;
    }

    & .hljs-bullet,
    & .hljs-link,
    & .hljs-meta,
    & .hljs-selector-tag {
      color: #61aeee;
    }

    & .hljs-emphasis {
      font-style: italic;
    }

    & .hljs-strong {
      font-weight: bold;
    }

    & .hljs-link {
      text-decoration: underline;
    }

    & .hljs-ln {
      margin: 6px 0 0;
    }

    & .hljs-ln-numbers {
      user-select: none;
      text-align: center;
      color: #888f96;
      font-family: "Source Code Pro", monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei",
        sans-serif;
      vertical-align: top;
      position: absolute;
      left: 0;
      width: 30px;
    }

    & .hljs-ln-code {
      & .hljs-ln-line {
        margin-left: 25px;
        padding-left: 5px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.code-block-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  z-index: 9;
  margin: 0;
  animation: elastic 1s;

  & code {
    --widthA: 100%;
    --widthB: calc(var(--widthA) - 30px);
    height: var(--widthB);
    min-height: 99%;
    overflow: auto;
  }
}

.code-block-fullscreen-html-scroll {
  overflow: hidden;
}
