.tag-header {
  & .page-header {
    & .pattern-title {
      & h1 {
        display: inline-block;
        font-size: 25px;
        font-weight: 400;
        color: #666;

        &::before {
          content: "";
        }

        &::after {
          content: "";
          padding-right: 15px;
          border-right: 1px dashed #ddd;
          font-size: 30px;
          vertical-align: middle;
        }
      }
    }
  }
}
