<!--/*-->
    @package Akina
<!--*/-->
<th:block th:fragment="content-page(page)">
  <article
    th:id="'post-'+${page.metadata.name}"
    th:class="'post-item post-'+${page.metadata.name}+' page type-page status-publish hentry'"
  >
    <header
      th:unless="${theme.config.patternimg.patternimg_image} and ${not #strings.isEmpty(page.spec.cover)} or (${#annotations.getOrDefault(page, 'randomImage', true)} and ${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)})"
      class="entry-header"
    >
      <h1 class="entry-title" th:text="${page.spec.title}"></h1>
    </header>
    <!--/* .entry-header */-->
    <div th:if="${#annotations.getOrDefault(page, 'toc', true)}" class="toc-container">
      <div class="toc"></div>
    </div>
    <div class="entry-content" th:utext="${page.content.content}"></div>
    <!--/* .entry-content */-->

    <footer class="entry-footer"></footer>
    <!--/* .entry-footer */-->
  </article>
</th:block>
<!--/* #post-## */-->
