<th:block th:fragment="content-masonry-photos">
    <section>
        <th:block
        th:unless="${theme.config.patternimg.patternimg_image} and ${not #strings.isEmpty(theme.config.patternimg.photos_patternimg)} or (${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)})"
        >
        <header class="entry-header">
            <h1 class="entry-title">
                <span th:if="${not #strings.isEmpty(photos_title)}" th:text="${photos_title}"></span>
                <span class="i18n" data-iname="page.photos.title" th:unless="${not #strings.isEmpty(photos_title)}"></span>
            </h1>
        </header>
        </th:block>
        <div  class="wrapper">
            <nav id="gallery-filter">
                <ul>
                    <li>
                        <a href="javascript:void(0);" data-filter="*" class="active i18n" data-iname="page.photos.all"></a>
                    </li>
                    <th:block th:each="group : ${photoFinder.groupBy()}">
                        <li>
                            <a href="javascript:void(0);" th:data-filter="'.' + ${group.metadata.name}" th:text="${group.spec.displayName}"></a>
                        </li>
                    </th:block>
                </ul>
            </nav>
            <!-- 工具栏 -->
            <nav th:if="${theme.config.photos.photos_style == 'masonry'}" id="grid-changer">
                <ul>
                    <li th:classappend="'col-' + ${theme.config.photos.masonry_changer_min}">
                        <a href="javascript:void(0)" class="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <rect width="10" height="10" x="8" y="8"></rect>
                            </svg>
                        </a>
                    </li>
                    <li th:classappend="'col-' + ${theme.config.photos.masonry_changer_max}">
                        <a href="javascript:void(0)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <rect width="7" height="7" x="6" y="6"></rect>
                                <rect width="7" height="7" x="14" y="6"></rect>
                                <rect width="7" height="7" x="6" y="14"></rect>
                                <rect width="7" height="7" x="14" y="14"></rect>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="gallery masonry-gallery">
                <th:block th:each="photo : ${photoFinder.listAll()}">
                    <figure class="gallery-item"
                        th:classappend="${photo.spec.groupName} + ' ' + ${theme.config.photos.photos_style == 'masonry' ? 'col-' + theme.config.photos.masonry_column : '' }">
                        <header class="gallery-icon">
                            <a data-fancybox="gallery" th:href="${photo.spec.url}">
                                <img class="lazyload"
                                    th:src="@{/assets/images/load/load.gif}"
                                    th:alt="${photo.spec.displayName}"
                                    th:data-src="${#strings.isEmpty(photo.spec.cover) ? photo.spec.url : photo.spec.cover}"/>
                            </a>
                        </header>
                        <figcaption class="gallery-caption">
                            <div class="entry-summary">
                                <h3 th:text="${photo.spec.displayName}"></h3>
                                <p th:if="${not #strings.isEmpty(photo.spec.description)}" th:text="${photo.spec.description}"></p>
                            </div>
                        </figcaption>
                    </figure>
                </th:block>
            </div>
        </div>
    </section>
</th:block>