<th:block th:fragment="content-justify-photos">
    <section>
        <th:block
        th:unless="${theme.config.patternimg.patternimg_image} and ${not #strings.isEmpty(theme.config.patternimg.photos_patternimg)} or (${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)})"
        >
        <header class="entry-header">
            <h1 class="entry-title">
                <span th:if="${not #strings.isEmpty(photos_title)}" th:text="${photos_title}"></span>
                <span class="i18n" data-iname="page.photos.title" th:unless="${not #strings.isEmpty(photos_title)}"></span>
            </h1>
        </header>
        </th:block>
        <div  class="wrapper justify-wrapper">
            <nav id="gallery-filter">
                <ul>
                    <li>
                        <a href="javascript:void(0);" data-filter="*" class="active i18n" data-iname="page.photos.all"></a>
                    </li>
                    <th:block th:each="group : ${photoFinder.groupBy()}">
                        <li>
                            <a href="javascript:void(0);" th:data-filter="'.' + ${group.metadata.name}" th:text="${group.spec.displayName}"></a>
                        </li>
                    </th:block>
                </ul>
            </nav>
            <div class="gallery masonry-gallery">
                <th:block th:each="photo : ${photoFinder.listAll()}">
                    <div class="gallery-item justify-gallery-item" th:classappend="${photo.spec.groupName}">
                        <a data-fancybox="gallery" th:href="${photo.spec.url}">
                            <img 
                                th:src="${#strings.isEmpty(photo.spec.cover) ? photo.spec.url : photo.spec.cover}" 
                                th:alt="${photo.spec.displayName}"/>
                        </a>
                        <figcaption class="justify-caption gallery-caption">
                            <div class="entry-summary">
                                <h3 th:text="${photo.spec.displayName}"></h3>
                                <p th:if="${not #strings.isEmpty(photo.spec.description)}" th:text="${photo.spec.description}"></p>
                            </div>
                        </figcaption>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</th:block>