<ul id="menu-menu-1" class="menu" th:with="menu = ${menuFinder.getPrimary()}">
  <li th:each="menuItem : ${menu.menuItems}">
    <a th:href="@{${menuItem.status?.href}}" th:target="${menuItem.spec.target?.value}">
      <span class="faa-parent animated-hover">
        <i th:if="${#annotations.contains(menuItem, 'icon')}" th:class="${#annotations.get(menuItem, 'icon')}"></i>
        <th:block th:text="${menuItem.status.displayName}"></th:block>
      </span>
    </a>
    <ul th:if="${not #lists.isEmpty(menuItem.children)}" class="sub-menu">
      <li th:each="child : ${menuItem.children}">
        <a th:href="${child.status.href}" th:target="${child.spec.target?.value}">
          <i th:if="${#annotations.contains(child, 'icon')}" th:class="${#annotations.get(child, 'icon')}"></i>
          <th:block th:text="${child.status.displayName}"></th:block>
        </a>
      </li>
    </ul>
  </li>
</ul>
