<th:block th:fragment="post-meta(post)">
  <div class="entry-census">
    <span class="post-meta-item">
      <span class="post-meta-item-avatar" itemprop="about" itemscope itemtype="http://schema.org/Thing">
        <a th:href="${site.url}" itemprop="url" rel="index">
          <img th:src="${post.owner.avatar ?: #theme.assets('/images/avatar.jpg')}" />
        </a>
      </span>

      <span class="post-authore-item-name" itemprop="about" itemscope itemtype="http://schema.org/Thing">
        <a th:href="${site.url}" th:text="${post.owner.displayName}" itemprop="url" rel="index"></a>
      </span>
    </span>

    <span
      class="post-meta-item"
      th:with="createTime = ${#dates.format(post.spec.publishTime,theme.config.post.post_time_display_type ?: 'yyyy-MM-dd')}"
    >
      <time
        class="i18n"
        data-iname="post.time"
        th:data-ivalue="${createTime}"
        th:data-datetime="${createTime}"
        itemprop="dateCreated datePublished"
      >
      </time>
    </span>

    <span
      class="post-meta-item"
      th:with="editTime = ${#dates.format(post.status.lastModifyTime,theme.config.post.post_time_display_type ?: 'yyyy-MM-dd')}"
    >
      <time
        class="i18n"
        data-iname="post.edit_time"
        th:data-ivalue="${editTime}"
        th:data-datetime="${editTime}"
        itemprop="dateModified"
      ></time>
    </span>

    <span class="post-meta-item">
      <span class="i18n" data-iname="post.visits" th:attr="data-ivalue=${post.stats.visit}"></span>
    </span>
  </div>
</th:block>
