<th:block th:fragment="post-meta(post)">
  <div class="meta-container">
    <div class="post-meta-item">
      <span class="post-meta-item-avatar" itemprop="about" itemscope itemtype="http://schema.org/Thing">
        <a th:href="${site.url}" itemprop="url" rel="index">
          <img th:src="${post.owner.avatar ?: #theme.assets('/images/default/avatar.jpg')}" />
        </a>
      </span>

      <span class="post-authore-item-name" data-pjax itemprop="about" itemscope itemtype="http://schema.org/Thing">
        <a th:href="${site.url}" th:text="${post.owner.displayName}" itemprop="url" rel="index"></a>
      </span>
    </div>

    <div
      class="post-meta-item"
      th:with="createTime = ${#dates.format(post.spec.publishTime,theme.config.post.post_time_display_type ?: 'yyyy-MM-dd')}"
    >
      <time
        data-i18n="post.time"
        th:i18n-options="|{'time': '${createTime}', 'params': { 'separator': '-', 'options': { 'year': 'numeric', 'month': '2-digit', 'day': '2-digit' } } }|"
        th:data-datetime="${createTime}"
        itemprop="dateCreated datePublished"
      >
      </time>
    </div>

    <div
      class="post-meta-item"
      th:with="editTime = ${#dates.format(post.status.lastModifyTime,theme.config.post.post_time_display_type ?: 'yyyy-MM-dd')}"
    >
      <time
        data-i18n="post.edit_time"
        th:i18n-options="|{'editTime': '${editTime}', 'params': { 'separator': '-', 'options': { 'year': 'numeric', 'month': '2-digit', 'day': '2-digit' } } }|"
        th:data-datetime="${editTime}"
        itemprop="dateModified"
      ></time>
    </div>

    <div class="post-meta-item">
      <span data-i18n="post.visits" th:i18n-options="|{ visit: '${post.stats.visit}'}|"></span>
    </div>
  </div>
</th:block>
