.site-footer {
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  margin: auto;
  transition: all 0.8s ease;
  margin-bottom: 2%;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: table;
    table-layout: fixed;
  }

  &::after {
    clear: both;
  }

  & .site-info {
    text-align: center;
    font-size: 0.8125rem;
    color: #b0b0b0;

    & a {
      color: #b0b0b0;

      &:hover {
        color: var(--theme-color);
      }
    }
  }

  @mixin screens-lg {
    padding: 30px;
  }
}
