.mobile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;

  & .avatar {
    padding: 30px 0;

    & img {
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  & .glitch-text {
    text-align: center;
    color: var(--mobile-menu-text-color);
    font-weight: 900;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 1.5px;
  }

  & .socials {
    display: flex;
    justify-content: center;
    gap: 0 20px;
  }

  & .search {
    & form {
      position: relative;
      width: 15.625rem;
      max-width: 15.625rem;
      margin: 0 0 20px;
      padding: 8px 15px;
      background-color: #fff;

      & input {
        width: 100%;
        border: 0;
        padding: 5px;
        text-align: center;
        border-radius: 3px;
        outline: none;
      }
    }
  }

  & .navbar {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    & ul,
    & li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }

    & ul {
      &:hover {
        & li {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      & li {
        transition-duration: 0.25s;
        padding: 6px 0;
        color: #fff;
        letter-spacing: 0.02em;

        & a {
          color: var(--mobile-menu-text-color);
          font-size: 0.9375rem;
          text-overflow: ellipsis;
          width: 4.375rem;

          &:hover {
            cursor: pointer;
            color: var(--theme-color);
          }
        }
      }
    }

    & li {
      & ul {
        & li {
          padding: 5px 0;

          & a {
            font-size: 0.8125rem;
            color: #9cacc5;
          }
        }
      }
    }

    & .menu-root {
      margin-left: 1em;

      & .menu-item {
        padding: 0;

        & a {
          &:hover {
            &:after {
              content: none;
            }
          }
        }
      }

      & .sub-menu {
        display: block;
        position: static;
        box-shadow: none;
        padding: 0;
        text-align: left;
        margin-left: 1em;
        animation: none;
        transform: none;

        &::before {
          content: none;
        }

        & a {
          color: #9cacc5;
          padding: 5px 0;
        }
      }
    }
  }

  & .footer {
    height: 3.125rem;
    background: var(--background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);

    & p {
      text-align: center;
      font-size: 0.9125em;
      color: #b0b0b0;
      width: 100%;
      height: 1.25em;
    }
  }
}
