<!-- @package Akina -->
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title itemprop="name" class="i18n" data-iname="notfound.title" th:data-ivalue="${site.title}"></title>

    <th:block th:replace="~{inc/decorate}" />
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_2010950_uq2c7ykeiyk.css"
      media="noexist"
      onload="this.media='all'"
    />
    <link rel="stylesheet" th:href="@{/assets/styles/style.min.css?v={version}(version=${theme.spec.version})}" type="text/css" />
  </head>
  <body class="error404 hfeed">
    <section class="error-404 not-found">
      <div class="error-img">
        <div class="anim-icon" id="404" style="height: 66%"></div>
      </div>
      <div class="err-button back">
        <a id="golast" href="javascript:history.go(-1);" class="i18n" data-iname="notfound.golast"></a>
        <a id="gohome" th:href="@{/}" class="i18n" data-iname="notfound.gohome"></a>
      </div>
      <!-- TODO: 等待基于路由的搜索功能完成之后再进行补充 -->
      <!-- <p
        style="margin-bottom: 1em; margin-top: 1.5em; text-align: center; font-size: 15px"
        class="i18n"
        data-iname="notfound.search"
      ></p>
      <p style="margin-bottom: 1em; text-align: center; font-size: 15px">
        Don't worry, search in site?  
      </p>
      <div style="display: block; width: 284px; margin: auto">
        <p style="margin-bottom: 1em; margin-top: 1.5em; text-align: center; font-size: 15px"></p>
        <form class="s-search" method="get" action="/search" role="search">
          <i class="iconfont icon-search" style="bottom: 9px; left: 15px"></i>
          <input
            class="text-input i18n"
            style="padding: 8px 20px 8px 46px"
            type="search"
            name="keyword"
            required
            data-iname="notfound.searchinput"
            data-iattr="placeholder"
            placeholder="Search..."
          />
        </form>
      </div> -->
    </section>
    <script>
      var the_dom = window.location.hostname;
    </script>
    <script th:src="@{/assets/js/404.js}" type="text/javascript"></script>
    <script
      type="text/javascript"
      th:src="@{/assets/script/utils.min.js?v={version}(version=${theme.spec.version})}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/assets/script/i18n.min.js?v={version}(version=${theme.spec.version})}"
    ></script>
    <script>
      var Poi = {
        themeBase: "[(${#theme.assets('')})]",
        i18n: "[(${theme.config.others.i18n ?: 'auto'})]",
      };
      window.onload = function () {
        I18N.init();
      };
    </script>
  </body>
</html>
