<div
  class="header-user-avatar"
  th:with="currentUser = ${contributorFinder.getContributor(#authentication.name)}"
  th:fragment="user"
>
  <img th:src="${currentUser.avatar ?: #theme.assets('/images/default/none.png')}" width="30" height="30" alt="" />
  <div class="header-user-menu">
    <th:block sec:authorize="isAnonymous()">
      <div class="herder-user-name no-logged">
        <a href="/console" data-i18n="user.login" aria-label="access the console command line interface"></a>
      </div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
      <div class="herder-user-name">
        <div data-i18n="user.has_logged"></div>
        <div class="herder-user-name-u" th:text="${currentUser.displayName}"></div>
      </div>
      <div class="user-menu-option">
        <!-- 个人资料 -->
        <a href="/console#/users/admin/detail" target="_blank" data-i18n="user.info" aria-label="access the personal profile page"></a>
        <!-- 退出登录 -->
        <a href="/logout" target="_top" data-i18n="user.logout" aria-label="log out of the account"></a>
      </div>
    </th:block>
  </div>
</div>
