<th:block th:fragment="widgets">
  <th:block th:replace="module/widgets/cd-top"></th:block>
  <th:block th:replace="module/widgets/float-aplayer"></th:block>
  <th:block th:replace="module/widgets/theme-change"></th:block>
  <!--/* search start */-->
  <!--/* 搜索功能由插件提供 https://github.com/halo-sigs/plugin-search-widget */-->
  <!--/* <div class="js-search search-form search-form-modal" role="search">
      <div class="search-form-inner">
        <div>
          <p class="micro mb-">输入后按回车搜索 ...</p>
          <i class="iconfont icon-search"></i>
          <input class="text-input js-search-input" type="search" name="keyword" placeholder="Search" required />
        </div>
      </div>
      <div class="search_close"></div>
    </div> */-->
  <!--/* search end */-->
</th:block>