h1 {
  & a {
    color: #504e4e;

    &:hover {
      color: orange;
    }
  }
}

.entry-footer {
  margin: 0 0 0 17%;
  list-style: none;
}

.hotpost {
  color: #ff3b00;
}

header.page-header {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	color: #9c9c9c
}
