.entry-title {
  & a {
    color: #504e4e;

    &:hover {
      color: orange;
    }
  }
}

.entry-footer {
  margin: 0 0 0 17%;
  list-style: none;
}

i.iconfont.hotpost {
  font-size: 14px;
  color: #ff3b00;
}
