.post-list {
  margin: 0 0 8%;
  position: relative;
  animation: main 0.6s;

  & p {
    min-height: 60px;
    font-size: 15px;
    color: var(--post-list-thumb-abstract-color);
    letter-spacing: 0;
    line-height: 30px;
    transition: color 1s;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    display: -webkit-box;
  }

  & hr {
    width: 30%;
    height: 1px;
    margin: 0 auto;
    border: 0;
    background: #eee;
    margin-top: 20px;
    transition: background 1s;
  }

  &:hover {
    & .entry-footer {
      & .info-meta {
        transform: translate3d(-130px, 0, 0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  & .feature {
    margin-top: 10px;
    float: left;

    &:hover .overlay .overlay-inner {
      opacity: 1;
    }

    & .overlay-inner {
      display: inline-block;
      position: absolute;
      font-size: 25px;
      color: #fff;
      width: 106px;
      height: 106px;
      line-height: 106px;
      text-align: center;
      background: #bbe2db;
      opacity: 0;
      z-index: 1;
      border-radius: var(--standard-post-list-border-radius);
      transition: opacity 0.4s ease-out;

      & .iconify {
        font-size: 30px;
        background: transparent;
        color: var(--theme-color);
      }
    }

    & img {
      width: 100px;
      height: 100px;
      padding: 2px;
      border: 1px solid #ddd;
      box-sizing: content-box;
      position: relative;
      object-fit: cover;
      border-radius: var(--standard-post-list-border-radius);
    }
  }

  & .entry-title {
    &h1 {
      font-size: 20px;
      font-weight: 400;
      line-height: 50px;
      position: relative;
      z-index: 1;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 65%;
      margin-left: 20px;

      &:hover {
        color: var(--theme-color);
      }
    }

    & a {
      color: var(--post-list-thumb-title-color);
    }
  }

  & .entry-footer {
    & .post-more {
      margin-top: 10px;
      text-align: right;

      & .iconify {
        font-size: 30px;
        color: var(--post-list-thumb-more-color);

        &:hover {
          color: var(--theme-color);
        }
      }
    }

    & .info-meta {
      margin-top: 10px;
      position: absolute;
      top: 20px;
      opacity: 0;
      padding-top: 8px;
      border-top: 1px solid #ddd;
      visibility: hidden;
      transition: 0.6s all ease;

      & span {
        color: #999;
        font-size: 13px;
        vertical-align: bottom;
      }

      & .iconify {
        margin-right: 10px;
      }

      & a {
        color: #999;
      }

      & .comnum {
        float: left;
        width: 100%;
      }
    }

    & .p-time {
      position: absolute;
      right: 0;
      top: 16px;
      font-size: 12px;
      color: #999;
      letter-spacing: 0;

      & .iconify {
        scale: 1.2;
        margin-right: 5px;
      }
    }
  }

  @mixin screens-md {
    & p {
      font-size: 14px;
      overflow: hidden;
    }

    & .feature {
      & img {
        width: 52px;
        height: 52px;
      }

      & .overlay {
        display: none;
      }
    }

    & .entry-title {
      &h1 {
        font-size: 16px;
        line-height: 30px;
      }
    }

    & .entry-footer {
      & .post-more {
        display: none;
      }
    }
  }

  @mixin screens-lg {
    & .entry-footer {
      & .info-meta {
        display: none;
      }
    }
  }
}
