.post-list-thumb {
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 20px 0 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.5);
  opacity: 1;
  animation: main 0.6s;
  transition: box-shadow 0.3s ease;

  &:hover {
    & img {
      transform: scale(1.1);
    }
  }

  & a {
    color: #504e4e;
  }

  & .post-thumb {
    min-width: 55%;

    & a {
      height: 300px;
      position: relative;
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      border-radius: 0 10px 10px 0;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        transition: all 0.6s;
      }
    }
  }

  & .post-content-wrap {
    position: relative;
    display: inline-block;
    padding-left: 0;
    width: 100%;
    padding: 0 30px;
    margin-top: 20px;

    & .post-date {
      color: #888;
      font-size: 12px;
      transition: background 1s;
    }

    & .post-meta {
      &,
      & a {
        color: #888;
        font-size: 12px;
      }

      & .comments-number {
        margin: 0 10px;
      }
    }

    & .float-content {
      position: relative;
      width: 100%;
      right: 0;
      margin: 0;
      padding: 0;
      z-index: 9;
      color: rgba(0, 0, 0, 0.66);

      & .post-text {
        display: inline-block;
        text-align: justify;
        font-size: 14px;
      }

      & .iconify {
        font-size: 30px;
        color: #666;
        margin-right: 5px;

        &:hover {
          color: orange;
        }
      }

      & p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 70px;
        overflow: hidden;
        text-align: left;
      }
    }
  }

  &.post-list-thumb-right {
    flex-direction: row-reverse;

    & .post-content-wrap {
      text-align: right;

      & .float-content {
        & p {
          text-align: right;
        }
      }
    }

    & .post-thumb {
      & a {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  & .post-title {
    color: #504e4e;

    & h3 {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  @mixin screens-md {
    margin: 0;
    height: auto;
    padding: 0;
    border: 0;
    box-shadow: 0 5px 10px 5px rgba(110, 110, 110, 0.4);
    margin-bottom: 20px;

    &,
    &.post-list-thumb-right {
      flex-direction: column-reverse;
    }

    &::before {
      content: "";
      width: 1px;
      height: 100px;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -101px;
      z-index: 0;
    }

    & .post-thumb {
      width: 100%;
      left: 0;

      & a {
        border-radius: 10px 10px 0 0;
      }
    }

    & .post-content-wrap {
      width: 100%;
      left: 0;
      text-align: left;
      margin: 0;
      padding: 20px;
      float: none;
      box-shadow: none;
      box-sizing: border-box;
      border-top: 0;

      & .float-content {
        width: 100%;
        left: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        transition: color 1s;

        & p {
          height: auto;
          display: block;
        }

        & .post-bottom {
          display: none;
          text-align: right;
        }
      }
    }

    &.post-list-thumb-right {
      & .post-content-wrap {
        text-align: left;
        & .float-content {
          & p {
            text-align: left;
          }
        }
      }

      & .post-thumb {
        & a {
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }

  @mixin screens-sm {
    & .post-thumb {
      & a {
        height: 210px;
      }
    }

    & .post-content-wrap {
      & .float-content {
        & .post-text {
          font-size: 13px;
          margin-bottom: 1em;
        }
      }
    }
  }
}
