.meta-container {
  display: flex;
  margin: 0;
  font-size: 14px;
  padding: 18px 0 0;

  & .post-meta-item {
    display: flex;
    align-items: center;

    & img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      margin-right: 12px;
      display: block;
      object-fit: cover;
    }

    &:not(:last-child) {
      &::after {
        content: "·";
        margin: 0 5px;
      }
    }
  }

  @mixin screens-md {
    flex-wrap: wrap;
  }
}
