.post-header {
  margin-top: 15px;

  @mixin screens-md {
    padding: 0 4%;
    top: 45%;

    & h1 {
      &.cat-title,
      &.entry-title {
        font-size: 26px;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      &.entry-title {
        text-align: center;
      }
    }
  }
}