.post-header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & .post-meta,
  & .pattern-title {
    width: 780px;
  }

  & .page-header {
    width: 100%;
  }

  & .post-meta {
    & .meta-container {
      justify-content: center;
    }
  }

  & .is-decorate {
    & .pattern-title {
      bottom: 60px;

      & .entry-title {
        text-align: inherit;
      }
    }

    & + .post-meta {
      position: absolute;
      bottom: 20px;

      & .meta-container {
        justify-content: inherit;
        
        & .post-meta-item {
          & *,
          &:after {
            color: #fff;
          }
        }
      }
    }
  }

  @mixin screens-md {
    padding: 0 4%;
    top: 45%;

    & h1 {
      &.cat-title,
      &.entry-title {
        font-size: 26px;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      &.entry-title {
        text-align: center;
      }
    }
  }
}
