.notice {
  padding: 20px;
  border: 1px dashed #e6e6e6;
  color: var(--color);
  position: relative;
  display: block;
  background: var(--notice-background-color);
  border-radius: 10px;
  animation: main 0.6s;

  & .notice-content {
    display: contents;
    vertical-align: middle;
    width: 100%;
  }

  & .iconify {
    top: 0;
    color: #999;
    font-size: 18px;
    padding-right: 10px;
  }

  @mixin screens-md {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
