.headertop {
  position: relative;
  overflow: hidden;
  height: 0;
  animation: header 1s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-attachment: fixed;
  }

  &.filter-undertint:before {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &.filter-dim:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
}