<th:block th:fragment="authorprofile(post)">
  <section th:if="${theme.config.post.author_profile}" class="author-profile">
    <div class="info" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a th:href="${post.owner.permalink}" class="profile gravatar">
        <img
          th:src="${post.owner.avatar ?: #theme.assets('/images/avatar.jpg')}"
          itemprop="image"
          th:alt="${post.owner.displayName}"
        />
      </a>
      <div class="meta">
        <span class="title" th:text="${post.owner.displayName}"></span>
        <h3 itemprop="name">
          <a th:href="${site.url}" itemprop="url" rel="author" th:text="${post.owner.name}"></a>
        </h3>
      </div>
    </div>
    <hr />
    <p>
      <i class="iconfont icon-pencil"></i>
      <span th:if="${not #strings.isEmpty(post.owner.bio)}" th:text="${post.owner.bio}" itemprop="description" ></span>
      <span th:unless="${not #strings.isEmpty(post.owner.bio)}" class="i18n" data-iname="user.description"></span>
    </p>
  </section>
</th:block>
