<style type="text/css" th:inline="css" th:fragment="variables">
  /**
  * 首页 header
  */
  :root {
    /* 背景视频按钮 */
    --video-play-image:         "[(${#theme.assets('/images/play@32x32.png')})]";
    --video-pause-image:        "[(${#theme.assets('/images/pause@32x32.png')})]";
    --video-add-image:          "[(${#theme.assets('/images/add@32x32.png')})]";

    --loading-comment-image:    "[(${#theme.assets('/images/disqus-preloader.svg')})]";

    --header-filter-grid-iamge: "[(${#theme.assets('/images/grid.png')})]";
    --header-filter-dot-iamge:  "[(${#theme.assets('/images/dot.gif')})]";
  }
</style>
