<!--/* todo: 全局小部件 */-->
<th:block th:fragment="widgets">
  <!--/* 回到顶部小工具 */-->
  <a href="#" class="cd-top"></a>
  <button class="m-cd-top" title="Go to top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </button>

  <!--/* aplayer start */-->
  <div
    th:if="${theme.config.plugin.is_aplayer} and ${theme.config.additional.aplayer_float}"
    id="aplayer-float"
    style="z-index: 100"
    class="aplayer aplayer-float"
    data-global="true"
    th:data-id="${theme.config.additional.aplayer_id}"
    th:data-server="${theme.config.additional.aplayer_server}"
    th:data-type="${theme.config.additional.aplayer_type}"
    th:data-fixed="true"
    th:data-preload="${theme.config.additional.aplayer_preload}"
    th:data-order="${theme.config.additional.aplayer_order}"
    th:data-theme="${theme.config.additional.aplayer_theme}"
    th:data-autoplay="${theme.config.additional.aplayer_autoplay}"
    th:data-volume="${theme.config.additional.aplayer_volume}"
  ></div>
  <!--/* aplayer end */-->

  <!--/* theme-change start */-->
  <th:block th:if="${theme.config.theme.theme_change}">
    <div class="change-skin-gear no-select">
      <div class="keys">
        <span>切换主题 | SCHEME TOOL &nbsp;<i class="iconfont icon-gear inline-block rotating"></i
        ></span>
      </div>
    </div>
    <!-- mobile changeskin -->
    <button id="m-changskin" class="m-change-skin"><i class="iconfont icon-gear inline-block rotating"></i></button>
    <div class="skin-menu no-select">
      <div class="row-container">
        <ul class="menu-list">
          <th:block th:each="themeItem, status : ${theme.config.theme.bg_themes}">
            <li th:id="'bg_'+${status.index}">
              <i th:class="${themeItem.bg_icon}" aria-hidden="true"></i>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </th:block>
  <!--/* theme-change end */-->

  <!--/* search start */-->
  <!--/* 搜索功能由插件提供 https://github.com/halo-sigs/plugin-search-widget */-->
  <!--/* <div class="js-search search-form search-form-modal" role="search">
      <div class="search-form-inner">
        <div>
          <p class="micro mb-">输入后按回车搜索 ...</p>
          <i class="iconfont icon-search"></i>
          <input class="text-input js-search-input" type="search" name="keyword" placeholder="Search" required />
        </div>
      </div>
      <div class="search_close"></div>
    </div> */-->
  <!--/* search end */-->
</th:block>
