@charset "utf-8";
/*
Description: Halo 版本的 Sakura 主题（原版地址 https://github.com/mashirozx/Sakura）
Version: 1.3.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: LIlGG
Tags: LIlGG
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
## Links
## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
## Posts and pages
## Asides
## Comments
# Infinite scroll
# Media
## Captions
## Galleries
# gallery
# journals
--------------------------------------------------------------*/
#content {
  -webkit-animation: main 1s;
  animation: main 1s;
}

.comments {
  -webkit-animation: main 0.6s;
  animation: main 0.6s;
}

@-webkit-keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes main {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes main {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes sitetop {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sitetop {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes searchbox {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes searchbox {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*--------------------------------------------------------------
## body
--------------------------------------------------------------*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
 * 头部装饰图
*/

/* .pattern-center:after {
	content: '';
	width: 150%;
	height: 4.375rem;
	background: #fff;
	left: -25%;
	bottom: -2.875rem;
	border-radius: 100%;
	position: absolute;
	z-index: 2;
} */
/*--------------------------------------------------------------
## header
--------------------------------------------------------------*/
/* 菜单 */

.m-nav {
  display: none;
}

#show-nav {
  position: relative;
  float: right;
  margin-left: 20px;
  display: block;
  width: 30px;
  height: 33px;
  margin-top: 4.5px;
  cursor: pointer;
  z-index: 999;
}

#show-nav .line {
  position: absolute;
  top: 7px;
  left: 50%;
  width: 28px;
  margin-left: -15px;
  height: 2px;
  background: #666;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

#show-nav.showNav .line1 {
  top: 16px;
}

#show-nav.showNav .line3 {
  top: 25px;
}

#show-nav.hideNav .line1 {
  top: 16px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}

#show-nav.hideNav .line2 {
  opacity: 0;
}

#show-nav.hideNav .line3 {
  top: 16px;
  transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

i.iconfont.hotpost {
  font-size: 14px;
  color: #ff3b00;
}

@-webkit-keyframes post-list-show {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes post-list-show {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#moblieGoTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: 0;
  outline: 0;
  background-color: #fff;
  color: #404040;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease;
}

#moblieGoTop:hover {
  background-color: #fff;
  opacity: 0.8;
}

.comments {
  clear: both;
  overflow: hidden;
  width: 100%;
  padding: 60px 0 80px;
  list-style: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.comments .commentwrap {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0;
}

.comments .commentwrap hr {
  height: 0;
  width: 100%;
  background: #eee;
  border: 0;
  margin: 40px 0;
}

@media (max-width: 1080px) {
  .comments .commentwrap {
    width: 100%;
    padding: 0 6.39%;
    max-width: 1245px;
    margin-bottom: 40px;
  }
}

.comments .comments-hidden {
  display: none;
  cursor: pointer;
}

.comments .comments-main {
  overflow: hidden;
  transition: height 0s ease-out;
}

.comments ul.commentwrap {
  margin: 0 auto 30px;
}

@media (max-width: 1080px) {
  .comments {
    padding: 6.39% 0 0;
    padding-bottom: 80px;
    max-width: 100%;
    padding: 0 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 860px) {
  .comments {
    padding: 6.39% 0 0;
    max-width: 100%;
    padding: 0 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
* fix #248
 */

/* .top-social {
  height: 32px;
  margin-top: 30px;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
}

.top-social img {
  height: 35px;
  width: 35px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.4);
}

.top-social li {
  float: left;
  margin-right: 10px;
} */

.s-search {
  position: relative;
  margin-bottom: 50px;
}

.s-search input {
  font-size: 1rem;
  background: none;
  padding: 12px 24px 12px 64px;
  width: 100%;
  outline: none;
  border-radius: 50px;
  box-sizing: border-box;
}

.s-search i {
  font-size: 32px;
  font-size: 1.5rem;
  line-height: 1;
  color: #ddd;
  position: absolute;
  bottom: 12px;
  margin-top: -16px;
  left: 16px;
}

@media (max-width: 860px) {
  .comments {
    max-width: 100% !important;
  }

  h1.entry-title {
    font-size: 18px;
    padding: 15px 0;
  }

  .post-like {
    display: none;
  }

  .m-nav {
    display: block;
  }

  .author-box {
    display: none;
  }
}

@media (max-width: 1080px) {
  .we-title:before {
    display: none;
  }

  h3#comments-list-title,
  nav#comments-navi {
    width: 100%;
    padding: 0 6.39%;
    max-width: 1245px;
  }
}

@media (max-width: 860px) {

  .openNav.open .icon {
    background-color: transparent;
  }

  .openNav.open .icon:before,
  .openNav.open .icon:after {
    top: 0;
  }

  .openNav.open .icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: #fff;
  }

  .openNav.open .icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #fff;
  }

  #mo-nav .m-footer {
    text-align: center;
    font-size: 13px;
    color: #b9b9b9;
    width: 100%;
    height: 20px;
  }

  .we-content li {
    height: 250px;
  }

  .we-content {
    padding: 80px 1%;
  }

  .we-icon {
    top: 30px;
  }

  .wtitle {
    top: 110px;
  }

  .works-entry {
    margin-bottom: 20px;
  }
}


#mo-nav::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

@keyframes poi-deg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes poi-deg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes elastic {
  0% {
    transform: scale(0);
  }

  55% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes elastic {
  0% {
    transform: scale(0);
  }

  55% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes btn-pudding {
  12%,
  15% {
    transform: scale(0.93, 1.07);
  }

  16%,
  17% {
    transform: scale(0.94, 1.06);
  }

  10%,
  18% {
    transform: scale(0.95, 1.05);
  }

  19% {
    transform: scale(0.96, 1.04);
  }

  20% {
    transform: scale(0.98, 1.02);
  }

  21%,
  40%,
  48% {
    transform: scale(0.99, 1.01);
  }

  22%,
  23%,
  37%,
  39%,
  49% {
    transform: scale(1, 1);
  }

  7%,
  24%,
  34%,
  36% {
    transform: scale(1.01, 0.99);
  }

  25%,
  27%,
  30%,
  33% {
    transform: scale(1.02, 0.98);
  }

  28%,
  29% {
    transform: scale(1.03, 0.97);
  }

  2% {
    transform: scale(1.16, 0.84);
  }

  0% {
    transform: scale(1.2, 0.8);
  }
}

@keyframes btn-pudding {
  12%,
  15% {
    transform: scale(0.93, 1.07);
  }

  16%,
  17% {
    transform: scale(0.94, 1.06);
  }

  10%,
  18% {
    transform: scale(0.95, 1.05);
  }

  19% {
    transform: scale(0.96, 1.04);
  }

  20% {
    transform: scale(0.98, 1.02);
  }

  21%,
  40%,
  48% {
    transform: scale(0.99, 1.01);
  }

  22%,
  23%,
  37%,
  39%,
  49% {
    transform: scale(1, 1);
  }

  7%,
  24%,
  34%,
  36% {
    transform: scale(1.01, 0.99);
  }

  25%,
  27%,
  30%,
  33% {
    transform: scale(1.02, 0.98);
  }

  28%,
  29% {
    transform: scale(1.03, 0.97);
  }

  2% {
    transform: scale(1.16, 0.84);
  }

  0% {
    transform: scale(1.2, 0.8);
  }
}

@-webkit-keyframes poi-face {
  2%,
  24%,
  80% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }

  4%,
  68%,
  98% {
    transform: translate(0, -1.5px) rotate(-0.5deg);
  }

  38%,
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg);
  }

  8%,
  86% {
    transform: translate(0, -1.5px) rotate(-1.5deg);
  }

  10%,
  72% {
    transform: translate(0, 2.5px) rotate(1.5deg);
  }

  12%,
  64%,
  78%,
  96% {
    transform: translate(0, -0.5px) rotate(1.5deg);
  }

  14%,
  54% {
    transform: translate(0, -1.5px) rotate(1.5deg);
  }

  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg);
  }

  18%,
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }

  20%,
  36%,
  46% {
    transform: translate(0, -1.5px) rotate(2.5deg);
  }

  26%,
  50% {
    transform: translate(0, 0.5px) rotate(0.5deg);
  }

  28% {
    transform: translate(0, 0.5px) rotate(1.5deg);
  }

  30%,
  40%,
  62%,
  76%,
  88% {
    transform: translate(0, -0.5px) rotate(2.5deg);
  }

  32%,
  34%,
  66% {
    transform: translate(0, 1.5px) rotate(-0.5deg);
  }

  42% {
    transform: translate(0, 2.5px) rotate(-1.5deg);
  }

  44%,
  70% {
    transform: translate(0, 1.5px) rotate(0.5deg);
  }

  48%,
  74%,
  82% {
    transform: translate(0, -0.5px) rotate(0.5deg);
  }

  52%,
  56%,
  60% {
    transform: translate(0, 2.5px) rotate(2.5deg);
  }

  58% {
    transform: translate(0, 0.5px) rotate(2.5deg);
  }

  84% {
    transform: translate(0, 1.5px) rotate(2.5deg);
  }

  90% {
    transform: translate(0, 2.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(0, 0.5px) rotate(-0.5deg);
  }

  94% {
    transform: translate(0, 2.5px) rotate(0.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes poi-face {
  2%,
  24%,
  80% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }

  4%,
  68%,
  98% {
    transform: translate(0, -1.5px) rotate(-0.5deg);
  }

  38%,
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg);
  }

  8%,
  86% {
    transform: translate(0, -1.5px) rotate(-1.5deg);
  }

  10%,
  72% {
    transform: translate(0, 2.5px) rotate(1.5deg);
  }

  12%,
  64%,
  78%,
  96% {
    transform: translate(0, -0.5px) rotate(1.5deg);
  }

  14%,
  54% {
    transform: translate(0, -1.5px) rotate(1.5deg);
  }

  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg);
  }

  18%,
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }

  20%,
  36%,
  46% {
    transform: translate(0, -1.5px) rotate(2.5deg);
  }

  26%,
  50% {
    transform: translate(0, 0.5px) rotate(0.5deg);
  }

  28% {
    transform: translate(0, 0.5px) rotate(1.5deg);
  }

  30%,
  40%,
  62%,
  76%,
  88% {
    transform: translate(0, -0.5px) rotate(2.5deg);
  }

  32%,
  34%,
  66% {
    transform: translate(0, 1.5px) rotate(-0.5deg);
  }

  42% {
    transform: translate(0, 2.5px) rotate(-1.5deg);
  }

  44%,
  70% {
    transform: translate(0, 1.5px) rotate(0.5deg);
  }

  48%,
  74%,
  82% {
    transform: translate(0, -0.5px) rotate(0.5deg);
  }

  52%,
  56%,
  60% {
    transform: translate(0, 2.5px) rotate(2.5deg);
  }

  58% {
    transform: translate(0, 0.5px) rotate(2.5deg);
  }

  84% {
    transform: translate(0, 1.5px) rotate(2.5deg);
  }

  90% {
    transform: translate(0, 2.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(0, 0.5px) rotate(-0.5deg);
  }

  94% {
    transform: translate(0, 2.5px) rotate(0.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}


@-webkit-keyframes header-user-menu {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes header-user-menu {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sm {
  cursor: wait;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  background-color: #919292;
}

.dot:nth-last-child(1) {
  margin-left: 0.3rem;
  -webkit-animation: loading 0.6s 0.3s linear infinite;
  animation: loading 0.6s 0.3s linear infinite;
}

.dot:nth-last-child(2) {
  margin-left: 0.3rem;
  -webkit-animation: loading 0.6s 0.2s linear infinite;
  animation: loading 0.6s 0.2s linear infinite;
}

.dot:nth-last-child(3) {
  -webkit-animation: loading 0.6s 0.1s linear infinite;
  animation: loading 0.6s 0.1s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: #ababab;
  }

  25% {
    transform: translate(0, -3px);
  }

  50% {
    transform: translate(0, 0);
    background-color: #ababab;
  }

  75% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 0);
    background-color: #ababab;
  }

  25% {
    transform: translate(0, -3px);
  }

  50% {
    transform: translate(0, 0);
    background-color: #ababab;
  }

  75% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.takagi-tips {
  opacity: 0;
  width: 250px;
  height: auto;
  min-height: 70px;
  margin: -20px 20px;
  padding: 5px 10px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease;
  background: #fff;
  color: #212121;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  animation-delay: 5s;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-name: shake;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }

  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }

  6% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }

  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }

  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }

  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }

  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }

  18% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }

  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }

  22% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }

  24% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }

  26% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }

  28% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }

  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }

  32% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  34% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }

  36% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }

  38% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }

  42% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }

  44% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  46% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }

  48% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }

  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  52% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  54% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  56% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  58% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }

  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  62% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }

  64% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg);
  }

  66% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  68% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }

  72% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }

  74% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }

  76% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }

  78% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }

  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }

  86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }

  88% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }

  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }

  94% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }

  96% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  98% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake {
  2% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }

  4% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }

  6% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }

  8% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }

  10% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }

  12% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  14% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }

  16% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
  }

  18% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg);
  }

  20% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }

  22% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }

  24% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
  }

  26% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
  }

  28% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }

  30% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }

  32% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  34% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }

  36% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }

  38% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  40% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
  }

  42% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }

  44% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  46% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }

  48% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }

  50% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  52% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  54% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }

  56% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  58% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }

  60% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  62% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }

  64% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg);
  }

  66% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  68% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
  }

  72% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }

  74% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }

  76% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }

  78% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
  }

  80% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  82% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }

  86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
  }

  88% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
  }

  90% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }

  94% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }

  96% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  98% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.changeSkin {
  position: fixed;
  bottom: 0;
  right: -600px;
  width: auto;
  height: auto;
  z-index: 99;
  font-family: "Ubuntu";
  padding: 10px 20px;
  transiton-property: right;
  transition-duration: 0.3s, 0.3s;
}

.changeSkin .keys {
  position: relative;
  z-index: 99;
}

.changeSkin .keys span {
  cursor: pointer;
}

.changeSkin .keys {
  position: relative;
  z-index: 99;
}

.changeSkin .keys span {
  cursor: pointer;
}

.changeSkin .close-skinMenu {
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.keys-line-add {
  text-align: right;
  margin-right: 22px;
}

@media (max-width: 800px) {
  .changeSkin i {
    font-size: 20px;
  }
}

/** 移动端切换主题样式 **/

.img-preload {
  visibility: hidden;
  width: 0;
  height: 0;
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

@-webkit-keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }

  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }

  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }

  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }

  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@-webkit-keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }

  75% {
    top: 0;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }

  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }

  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }

  75% {
    top: 0;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }

  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}

.bb-comment {
  border: 1px solid #fb7299;
  min-width: 30px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #fb7299;
  border-radius: 3px;
  font-weight: 400;
}

.mashiro-author-info {
  background: url("//static.2heng.xin/wp-content/themes/Sakura/images/LOGO-Unicorn-Gradient.svg");
  width: 200px;
  height: 200px;
  margin: auto;
}

.itempic {
  min-height: 280px;
  max-height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.finish-icon-container {
  font-size: 1rem;
  display: -webkit-box;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
}

.finish-icon-text {
  margin-right: 8px;
}

.finish-icon {
  vertical-align: text-bottom;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 24px;
  width: 100%;
}

.skill-list {
  list-style: none;
  margin: 0;
  padding-top: 25px;
}

.skill {
  margin-bottom: 1em;
  position: relative;
}

.skill div {
  color: #fff;
  line-height: 1;
  position: absolute;
  top: 4px;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.22);
  width: 100%;
  text-align: center;
}

.skill ::-webkit-progress-value {
  -webkit-animation: bar-fill 2s;
  width: 0;
}

.skill-1::-webkit-progress-value {
  background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
  background: #ff9e2c;
}

@-webkit-keyframes bar-fill {
  0% {
    width: 0;
  }
}

@keyframes bar-fill {
  0% {
    width: 0;
  }
}

.art .art-content .al_mon_list li:before,
.art .art-content #archives a:before {
  content: none;
}

#archives ul {
  list-style: none;
  margin-bottom: 0;
  left: -45px;
}

#archives li {
  list-style: none;
}

#archives li > ul,
li > ol {
  margin-left: -2.7em;
}

#archives h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.art-content #archives .al_mon_list {
  position: relative;
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
}

.art .art-content #archives a {
  color: #000;
}

.art .art-content #archives a:hover {
  color: orange;
}

.art .art-content #archives .al_year {
  padding-left: 100px;
}

.art-content #archives .al_mon_list .al_mon,
.art .art-content .al_mon_list .al_post_list > li {
  position: relative;
}

.art-content #archives .al_mon_list .al_mon,
.art-content #archives .al_mon_list span {
  padding: 0;
  border-radius: 0;
  margin: 0;
  color: #000;
  background: 0 0;
  font-weight: 400;
}

.art .art-content #archives a {
  font-weight: 400;
}

.art .art-content .al_mon_list {
  width: 100%;
}

.art .art-content .al_mon_list .al_post_list > li:before {
  position: absolute;
  left: 116px;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  top: 6px;
  content: "";
}

.art .art-content .al_mon_list .al_post_list > li:after {
  position: absolute;
  left: 118px;
  background: #6ecaf5;
  height: 8px;
  width: 8px;
  border-radius: 6px;
  top: 8px;
  content: "";
}

.art-content #archives .al_mon_list .al_mon:before {
  position: absolute;
  left: 113px;
  background: #fff;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  top: 3px;
  content: "";
}

.art-content #archives .al_mon_list .al_mon:after {
  position: absolute;
  left: 116px;
  background: #6ecaf5;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  top: 6px;
  content: "";
}

.art .art-content .al_mon_list .al_post_list > li {
  padding-left: 140px;
}

.art-content #archives .al_mon_list .al_post_list,
.art-content #archives .al_mon {
  display: block;
}

.art-content #archives .al_mon_list:before {
  max-height: 100%;
  height: 100%;
  width: 4px;
  background: #6ecaf5;
  position: absolute;
  left: 120px;
  content: "";
  top: 0;
}

.art-content #archives .al_mon_list .al_mon:before,
.art .art-content .al_mon_list .al_post_list > li:before {
  box-shadow: 1px 1px 1px #bbb;
}

.art-content #archives .al_mon_list .al_mon:after,
.art .art-content .al_mon_list .al_post_list > li:after {
  background: #0bf;
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {
  position: fixed !important;
  top: 0;
}

.is-active-link {
  font-weight: 700;
}

.is-active-link:before {
  background-color: orange !important;
}

.flipy {
  transform: scaleY(-1);
  filter: FlipV;
}

.flipx-v2 {
  transform: rotateY(180deg);
}

.flipy-v2 {
  transform: rotateX(180deg);
}

.ex-login,
.ex-register {
  width: auto !important;
}

.bili-container,
.tieba-container {
  padding-left: 16px;
}

.tieba-container span {
  width: 32px;
  height: 32px;
}

.tieba-container img {
  width: 32px;
  height: 32px;
  margin: 7px;
}

.tieba-container img:hover {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 5px;
}

.emotion-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.emotion-inline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.emotion-item {
  margin: 6px;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: -8px;
}

.emotion-secter {
  margin: 12px 12px 0 0;
}

.emotion-item .img {
  -webkit-animation: im-emotion-step 1.08s steps(27) infinite;
  animation: im-emotion-step 1.08s steps(27) infinite;
  -webkit-animation-duration: 1.08s;
  animation-duration: 1.08s;
  -webkit-animation-timing-function: steps(27);
  animation-timing-function: steps(27);
}

.emotion-item .img {
  width: 32px;
  height: 864px;
  max-width: 32px;
  background: top/32px no-repeat;
  background-image: none;
}

@-webkit-keyframes im-emotion-step {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes im-emotion-step {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.emotion-select-parent {
  background-size: cover;
}

.emotion-select-child {
  display: none;
}

.emotion-select-parent:hover {
  background-image: none !important;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 5px;
}

.emotion-select-parent:hover .emotion-select-child {
  display: block;
}

#emotion-toggle {
  text-align: center;
  margin-bottom: 5px;
}

.emotion-toggle-on {
  display: none;
}

.motion-switcher-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  table-layout: fixed;
}

.motion-switcher-table th,
.motion-switcher-table td {
  padding: 8px;
  text-align: center;
  border-radius: 5px;
}

.motion-switcher-table th:hover {
  background-color: rgba(245, 245, 245, 0.5);
  color: orange;
}

.motion-switcher-table .on-hover {
  color: orange;
}

.motion-container {
  height: 110px;
  overflow: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media (max-width: 860px) {
  .bili-container,
  .tieba-container {
    padding-left: 0;
  }

  .emotion-item {
    transform: scale(0.6);
    margin-bottom: -10px;
  }

  .tieba-container span,
  .tieba-container img {
    transform: scale(0.6);
    margin-bottom: -10px;
  }

  .emotion-secter {
    margin: 0;
  }

  .emotion-select-parent:hover {
    background-image: none !important;
    transform: scale(0.6, 0.6);
  }
}

.menhera-container .emoji-item {
  padding: 3px 5px;
  margin: 3px;
  display: inline-block;
  border-radius: 4px;
  color: #333;
}

.menhera-container .emoji-item:hover {
  background-color: rgba(245, 245, 245, 0.8);
}

.alignright {
  width: auto !important;
}

.scrollbar {
  position: fixed;
  top: 0;
  height: 3px;
  background: #bebebe;
  transiton-property: width, background;
  transition-duration: 1s, 1s;
  z-index: 99999;
}

#footer-sponsor {
  font-size: 9px;
}

@media (max-width: 860px) {
  #footer-sponsor {
    margin-bottom: -20px;
  }
}

.top-feature-row {
  width: 100%;
  height: auto;
  margin-top: 55px;
}

.buy {
  background: #9dd7e8;
  color: #03536b;
  text-indent: 0;
}

.warning {
  background: #ffea97;
  color: #9f6f26;
  text-indent: 0;
}

.noway {
  background: #efcec9;
  color: #820b0b;
  text-indent: 0;
}

.task {
  background: #e7e7e7;
  color: #333;
}

.chinese-tranditional-font {
  font-family: Helvetica, Tahoma, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體",
    "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

.japanese-font {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.english-serif {
  font-family: "Noto Serif CJK SC", "Noto Serif CJK", serif;
}

.code-font {
  font-family: "Source Code Pro", monospace;
}

.Ubuntu-font {
  font-family: "Ubuntu", sans-serif;
}

.moe-mashiro {
  font-family: "Moe-Mashiro", "Merriweather Sans", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}

.font-family-controls button {
  display: inline-block;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  width: calc(50% - 10px);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin: 0 4px;
  box-shadow: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.font-family-controls button.selected {
  background-color: #fc3;
  color: #fff;
}

.control-btn-serif {
  font-family: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif", source-han-serif-sc, "PT Serif", "SongTi SC",
    "MicroSoft Yahei", Georgia, serif;
}

.control-btn-sans-serif {
  font-family: "Ubuntu", sans-serif;
}

h1[id*="toc-head"]:before,
h2[id*="toc-head"]:before,
h3[id*="toc-head"]:before,
h4[id*="toc-head"]:before,
h5[id*="toc-head"]:before,
h6[id*="toc-head"]:before {
  display: block;
  content: " ";
  visibility: hidden;
}

h2.footer-comment-flag:before,
h2.footer-comment-flag:after {
  display: none;
  content: "";
  height: 0;
  margin: 0;
}

img[src*="#float-left"] {
  float: left;
}

img[src*="#float-right"] {
  float: right;
}

img[src*="#width-full"] {
  width: 100%;
}

img[src*="#width-90"] {
  width: 90%;
}

img[src*="#width-80"] {
  width: 80%;
}

img[src*="#width-70"] {
  width: 70%;
}

img[src*="#width-60"] {
  width: 60%;
}

img[src*="#width-50"] {
  width: 50%;
}

img[src*="#width-40"] {
  width: 40%;
}

img[src*="#width-30"] {
  width: 30%;
}

img[src*="#width-20"] {
  width: 20%;
}

img[src*="#width-10"] {
  width: 10%;
}

img[src*="#in-center"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#banner_wave_1 {
  width: auto;
  height: 65px;
  _filter: alpha(opacity=80);
  position: absolute;
  bottom: 0;
  width: 400%;
  left: -236px;
  z-index: 5;
  opacity: 1;
  transiton-property: opacity, bottom;
  transition-duration: 0.4s, 0.4s;
}

#banner_wave_2 {
  width: auto;
  height: 80px;
  _filter: alpha(opacity=80);
  position: absolute;
  bottom: 0;
  width: 400%;
  left: 0;
  z-index: 4;
  opacity: 1;
  transiton-property: opacity, bottom;
  transition-duration: 0.4s, 0.4s;
}

.banner_wave_hide,
.banner_wave_hide_fit_skin {
  opacity: 0 !important;
  bottom: -999px !important;
}

@media (max-width: 860px) {
  #banner_wave_1,
  #banner_wave_2 {
    display: none;
  }
}

.accordionMenu {
  color: #424242;
  margin: 0 auto;
  width: 100%;
}

.menuSection {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 6px;
}

.menuSection label {
  display: block;
  font-size: 18px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

.menuSection label + input {
  display: none;
}

.menuSection detail-p {
  padding: 10px 16px;
  transition: all 0.3s ease;
}

.menuSection .detail {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.menuSection input:checked + .detail {
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.poem-wrap {
  position: relative;
  width: 730px;
  max-width: 80%;
  border: 2px solid #797979;
  border-top: none;
  text-align: center;
  margin: 80px auto;
}

.poem-wrap h1 {
  position: relative;
  margin-top: -20px;
  display: inline-block;
  letter-spacing: 4px;
  color: #797979;
}

.poem-wrap p {
  width: 70%;
  margin: auto;
  line-height: 30px;
  color: #797979;
}

.poem-wrap p#poem {
  font-size: 25px;
}

.poem-wrap p#info {
  font-size: 15px;
  margin: 15px auto;
}

.poem-border {
  position: absolute;
  height: 2px;
  width: 27%;
  background-color: #797979;
}

.poem-right {
  right: 0;
}

.poem-left {
  left: 0;
}

@media (max-width: 685px) {
  .poem-border {
    width: 18%;
  }
}

@media (max-width: 500px) {
  .poem-wrap {
    margin-top: 60px;
    margin-bottom: 20px;
    border-top: 2px solid #797979;
  }

  .poem-wrap h1 {
    margin: 20px 6px;
  }

  .poem-border {
    display: none;
  }
}

.ad-container {
  list-style: disc;
  border: 1px dashed #e4e4e4;
  padding: 5px;
  color: #616161;
  margin-left: 0;
  border-radius: 10px;
  background: #fff;
}

.ad-container span {
  font-size: 10px;
  color: #777;
}

.adsbygoogle {
  background: rgba(0, 0, 0, 0);
  display: block;
  text-align: center;
}

#coverVideo-btn {
  all: initial;
  display: inline-block;
  width: 36px;
  font-size: 26px;
  margin-left: 16px;
  padding: 7px;
  border: 0;
  background: 0 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

#coverVideo-btn:hover {
  background: #ddd;
  color: #000;
}

.constant-width-to-height-ratio:before {
  content: "";
  padding-top: 100%;
  float: left;
}

.constant-width-to-height-ratio:after {
  content: "";
  display: block;
  clear: both;
}

.fancybox:after {
  display: none;
}

.fancybox-button:hover {
  box-shadow: none;
}

@media (max-width: 860px) {
  .t-toast {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
em {
  word-wrap: break-word;
  word-break: break-all;
}
/** journal end */

/** dark start */
body.dark #mo-nav,
body.dark .comments,
body.dark .site-footer,
body.dark .wrapper,
body.dark .post-list-show,
body.dark .post-list hr,
body.dark .lower li ul,
body.dark .header-user-menu,
body.dark #tags,
body.dark #category-echarts,
body.dark .pattern-center:after,
body.dark .headertop-bar::after,
body.dark .table-wrapper > table tr {
  background: #31363b !important;
}

body.dark .pattern-center-blank,
body.dark .yya,
body.dark .blank,
body.dark .toc,
body.dark .search-form input {
  background: rgba(49, 54, 59, 0.85);
}

body.dark .single-reward .reward-row,
body.dark input.m-search-input {
  background: #bebebe;
}

body.dark .ins-section .ins-search-item.active,
body.dark .ins-section .ins-search-item.active .ins-slug,
body.dark .ins-section .ins-search-item.active .ins-search-preview,
body.dark .herder-user-name-u,
body.dark .herder-user-name,
body.dark .header-user-menu .user-menu-option {
  color: #fff;
  background: #31363b;
}

body.dark .single-reward .reward-row:before {
  border-bottom: 13px solid #bebebe;
}

body.dark .search-form--modal,
body.dark .ins-section .ins-section-header {
  border-bottom: none;
  background: rgba(49, 54, 59, 0.95);
}

body.dark .search_close:after,
body.dark .search_close:before,
body.dark .openNav .icon,
body.dark .openNav .icon:before {
  background-color: #eee;
}

body.dark .centerbg {
  background-blend-mode: hard-light;
  background-color: #31363b;
}

body.dark input[type="color"]:focus,
body.dark input[type="date"]:focus,
body.dark input[type="datetime-local"]:focus,
body.dark input[type="datetime"]:focus,
body.dark input[type="email"]:focus,
body.dark input[type="month"]:focus,
body.dark input[type="number"]:focus,
body.dark input[type="password"]:focus,
body.dark input[type="range"]:focus,
body.dark input[type="search"]:focus,
body.dark input[type="tel"]:focus,
body.dark input[type="text"]:focus,
body.dark input[type="time"]:focus,
body.dark input[type="url"]:focus,
body.dark input[type="week"]:focus,
body.dark textarea:focus,
body.dark .post-date,
body.dark #mo-nav .m-search form {
  color: #eee;
  background-color: #31363b;
}

body.dark .header-user-menu::before,
body.dark .lower li ul::before {
  border-color: transparent transparent #31363b transparent;
}

body.dark .post-date,
body.dark .header-user-menu .user-menu-option,
body.dark .post-list-thumb a {
  color: #424952;
}

body.dark .entry-content p,
body.dark .entry-content ul,
body.dark .entry-content ol,
body.dark .comments .body p,
body.dark .float-content,
body.dark .post-list p,
body.dark .link-title {
  color: #bebebe !important;
}

body.dark .entry-title a,
body.dark .post-list-thumb .post-title,
body.dark .tag-contents .tag-title,
body.dark #gallery-filter a,
body.dark .art-content #archives .al_mon_list .al_mon,
body.dark .art-content #archives .al_mon_list span,
body.dark .art .art-content #archives a,
body.dark .menhera-container .emoji-item,
body.dark .ex-login-username,
body.dark .admin-login-check p,
body.dark .user-login-check p,
body.dark .ex-logout a,
body.dark .ex-new-account a {
  color: #bebebe;
}

body.dark .header-inner ul li a,
body.dark .header-user-menu a,
body.dark #mo-nav ul li a,
body.dark .site-title a,
body.dark header.page-header,
body.dark h1.cat-title,
body.dark .art .art-content #archives .al_year,
body.dark .comment-respond input,
body.dark .comment-respond textarea,
body.dark .siren-checkbox-label,
body.dark .aplayer .aplayer-list ol li .aplayer-list-author,
body.dark,
body.dark button,
body.dark input,
body.dark select,
body.dark textarea,
body.dark i.iconfont.js-toggle-search.iconsearch,
body.dark .skin-menu {
  color: #eee;
}

body.dark .post-date,
body.dark .post-list-thumb a,
body.dark .post-list-thumb i,
body.dark .post-meta,
body.dark .info-meta a,
body.dark .info-meta span {
  color: #888;
}

body.dark .post-list-thumb,
body.dark #tags,
body.dark #category-echarts {
  box-shadow: 0 1px 35px -8px rgba(0, 0, 0, 0.8);
}

body.dark .notice {
  color: #eff0f1;
  background: #232629;
  border: none;
}

body.dark h1.fes-title,
body.dark h1.main-title {
  border-bottom: 6px dotted #535a63;
  color: #888;
}

body.dark .widget-area .heading,
body.dark .widget-area .show-hide svg,
body.dark #aplayer-float,
body.dark .aplayer.aplayer-fixed .aplayer-body,
body.dark .aplayer .aplayer-miniswitcher,
body.dark .aplayer .aplayer-pic {
  color: #eee;
  background-color: #232629 !important;
}

body.dark #aplayer-float .aplayer-lrc-current {
  color: transparent !important;
}

body.dark .aplayer.aplayer-fixed .aplayer-lrc {
  text-shadow: -1px -1px 0 #989898;
}

body.dark .aplayer.aplayer-fixed .aplayer-list {
  border: none !important;
}

body.dark .aplayer.aplayer-fixed .aplayer-info,
body.dark .aplayer .aplayer-list ol li {
  border-top: none !important;
}

body.dark .yya {
  box-shadow: 0 1px 40px -8px #21252b;
}

body.dark .font-family-controls button,
body.dark .menu-list li {
  background-color: #31363b;
}

body.dark .s-content,
body.dark .font-family-controls button.selected {
  background-color: #535a63;
}

body.dark #banner_wave_1,
body.dark #banner_wave_2,
body.dark .skin-menu::after {
  display: none;
}

body.dark .widget-area .show-hide svg path,
body.dark #grid-changer svg {
  fill: #fafafa;
}

body.dark #grid-changer ul li a.active,
body.dark #grid-changer ul li a.active:hover {
  border-color: #fafafa;
  color: #fafafa;
}

/* body.dark #grid-changer ul li a {
	border: 2px solid #999;
} */

body.dark button,
body.dark input[type="button"],
body.dark input[type="reset"],
body.dark input[type="submit"] {
  box-shadow: none;
}

body.dark .widget-area,
body.dark input[type="submit"] {
  background-color: rgba(35, 38, 41, 0.8);
}

body.dark .comment .info,
body.dark .comment-respond .logged-in-as,
body.dark .comment-respond .logged-in-as a {
  color: #9499a8;
}

body.dark .header-user-avatar:hover,
body.dark .aplayer .aplayer-list ol li.aplayer-list-light,
body.dark .site-header:hover {
  background: #31363b;
}

body.dark #moblieGoTop,
body.dark #m-changskin {
  background-color: #232629;
}

body.dark #show-nav .line {
  background: #eee;
}

@media (max-width: 1200px) {
  body.dark .header-inner .lower nav.navbar ul {
    background: rgba(255, 255, 255, 0);
  }
}

/** dark end */

/*切换动画*/
html,
#mo-nav,
.comments,
.pattern-center-blank,
.yya,
.blank,
.wrapper,
.site-wrapper,
#moblieGoTop:hover,
.post-list-show {
  transition: background 1s;
}

.comments .body p {
  transition: color 1s;
}

/* .top-social img {
  transition: color 1s;
  transition: background 1s;
} */

/* MathJax v2.7.5 from 'cdn.bootcss.com' */
.mjx-chtml {
  outline: 0;
}

.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden;
}
/*# sourceMappingURL=style.css.map */
