.archives-inner {
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  border-left: 1px dashed #f5f5f5;

  & h2 {
    font-weight: 400;
    color: #676767;
    padding-bottom: 15px;
    border-bottom: 1px dashed #f1f1f1;
    text-align: center;
  }

  & h3 {
    letter-spacing: 2px;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    color: orange;
    margin-left: 10px;

    &:hover {
      color: #ddd;
      cursor: pointer;
    }
  }

  & .archive-item {
    margin-top: 35px;

    & .archive-title {
      display: flex;
      align-items: center;

      & .archive-time {
        & i {
          padding: 10px;
          border-radius: 100px;
          background: orange;
          color: #fff;
        }
      }
    }

    & .archive-posts {
      & .archive-post-item {
        position: relative;

        & .archive-post-circle {
          height: 10px;
          width: 10px;
          background: orange;
          display: inline-block;
          position: absolute;
          margin-top: 22px;
          border-radius: 100px;
          left: 10px;
        }

        & .arrow-left-ar  {
          width: 0;
          height: 0;
          display: block;
          float: left;
          margin-top: 10px;
          border-left: 20px solid transparent;
          border-bottom: 20px solid #f5f5f5;
          margin-left: 26px;
        }

        & .brick {
          margin-left: 46px;

          & a {
            color: #7d7d7d;
            padding: 20px;
            background: #f5f5f5;
            margin-bottom: 20px;
            display: block;
            letter-spacing: 0px;
          }

          & em {
            font-style: normal;
            margin-left: 5px;
          }

          & .time {
            float: right;
            color: #cacaca;

            & i {
              margin: 3px;
            }
          }
        }
      }
    }
  }

  @mixin screens-md {
    padding: 0 20px;
  }
}