<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: layout(_title = ~{::title}, _header = ~{::header}, _content = ~{::content})}"
>
  <th:block th:fragment="title">
    <th:block th:text="${title} + '|' + ${site.title}"></th:block>
  </th:block>

  <th:block th:fragment="header">
    <th:block
      th:replace="~{macro/page-header :: page-header(extension=${moments}, frontCover=${theme.config.patternimg.journals_patternimg}, headerTitle = ~{::headerTitle}, id='moments', isRandomImage=true)}"
    />
  </th:block>

  <th:block th:fragment="headerTitle">
    <h1 th:text="${title}"></h1>
  </th:block>

  <th:block th:fragment="content">
    <div class="moments-container">
      <ul th:if="${moments.total gt 0}" class="moments-inner" role="main">
        <li class="moments-item journal" th:each="moment : ${moments.items}" th:data-name="${moment.metadata.name}">
          <span class="moment-container">
            <img
              class="lazyload avatar"
              th:data-src="${moment.owner.avatar != null ? moment.owner.avatar : #theme.assets('/images/default/avatar.jpg')}"
              th:alt="${moment.owner.displayName}"
              onerror="imgError(this)"
              th:src="${#theme.assets('/images/load/trans.ajax-spinner-preloader.svg')}"
            />
            <span class="moment-content">
              <th:block th:utext="${moment.spec.content.html}"></th:block>
              <p class="journal-time">
                <span th:text="${#dates.format(moment.spec.releaseTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                <!-- 评论内容 -->
                <span
                  th:if="${pluginFinder.available('PluginCommentWidget') and theme.config.journal.journal_comment}"
                  class="comment-js noselect"
                >
                  <span class="iconify" data-icon="solar:chat-dots-outline"></span>
                  <span class="noticom" th:text="${moment.stats.totalComment}"></span>
                </span>
                <span
                  th:if="${theme.config.journal.journal_likes}"
                  class="journal-like noselect"
                  th:data-links="${moment.stats.upvote}"
                >
                  <span class="iconify" data-icon="solar:like-broken"></span>
                  <span th:text="${moment.stats.upvote}"></span>
                </span>
              </p>
              <div
                th:if="${pluginFinder.available('PluginCommentWidget') and theme.config.journal.journal_comment}"
                class="comment"
              >
                <!--/* 评论组件 */-->
                <th:block
                  th:replace="~{module/comment :: comment(group = 'moment.halo.run', kind = 'Moment', name = ${moment.metadata.name})}"
                />
              </div>
            </span>
          </span>
        </li>
      </ul>
      <th:block th:if="${moments.totalPages gt 1}">
        <div th:if="${moments.hasNext}" id="journals-pagination" class="pagination">
          <a th:href="@{${moments.nextUrl}}" class="at_button i18n" data-iname="page.journal.loadmore"></a>
        </div>
      </th:block>
      <th:block th:unless="${moments.total gt 0}">
        <span class="i18n" data-iname="page.journal.empty"></span>
      </th:block>
    </div>
  </th:block>
</html>
