<!--/*-->
@package Akina
<!--*/-->
<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: layout(title = ~{::title}, header = ~{::header}, content = ~{::content})}"
>
  <th:block th:fragment="title">
    <th:block th:text="${singlePage.spec.title} + '|' + ${site.title}"></th:block>
  </th:block>

  <th:block th:fragment="header">
    <th:block th:replace="~{macro/page-header :: page-header(${singlePage}, ${singlePage.spec.cover})}" />
  </th:block>
  
  <th:block th:fragment="content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        <th:block th:replace="~{macro/content-page :: content-page(${singlePage})}" />
      </main>
      <!--/* #main */-->
    </div>
    <!--/* #primary */-->
    <halo:comment group="content.halo.run" kind="SinglePage" th:attr="name=${singlePage.metadata.name}" />
  </th:block>
</html>
