<!--
	@package Akina
-->
<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(header = ~{::header},content = ~{::content})}"
>
  <th:block th:fragment="header">
    <th:block
      th:if="${theme.config.patternimg.patternimg} and ${not #strings.isEmpty(singlePage.spec.cover)} and ${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)}"
    >
      <div class="pattern-center-blank"></div>
      <div class="pattern-center no-select">
        <div class="pattern-attachment-img">
          <img
            class="lazyload"
            th:if="${theme.config.patternimg.patternimg} and ${not #strings.isEmpty(singlePage.spec.cover)}"
            th:attr="data-src=${singlePage.spec.cover}"
            th:src="@{/assets/images/svg/loader/orange.progress-bar-stripe-loader.svg}"
            onerror="imgError(this)"
          />
          <img
            th:unless="${theme.config.patternimg.patternimg} and ${not #strings.isEmpty(singlePage.spec.cover)}"
            src="${settings.rimage_url!}?sheetid=${sheet.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>"
            srcset="<#if settings.rimage_cover_lqip == 'loading'>${res_base_url!}/source/images/svg/loader/orange.progress-bar-stripe-loader.svg<#else>${settings.rimage_url!}?sheetid=${sheet.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=150</#if>"
            data-srcset="${settings.rimage_url!}?sheetid=${sheet.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=640 640w,
                            ${settings.rimage_url!}?sheetid=${sheet.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=960 960w,
                            ${settings.rimage_url!}?sheetid=${sheet.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=1280 1280w,
                            ${settings.rimage_url!}?sheetid=${sheet.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if> 1440w"
            data-sizes="auto"
            th:class="'lazyload '+${theme.config.random_image.rimage_cover_lqip == 'lowquality' ? 'blur-up' : ''}"
          />
        </div>
        <header class="pattern-header">
          <h1 class="entry-title" th:text="${singlePage.spec.title}"></h1>
        </header>
      </div>
    </th:block>
    <th:block
      th:unless="${theme.config.patternimg.patternimg} and ${not #strings.isEmpty(singlePage.spec.cover)} and ${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)}"
    >
      <div class="blank"></div>
      <style>
        .toc-container {
          top: 210px;
        }
      </style>
    </th:block>
  </th:block>
  <th:block th:fragment="content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        <th:block
          th:replace="~{tpl/content-page :: content-page(${singlePage})}"
        />
      </main>
      <!-- #main -->
    </div>
    <!-- #primary -->
  </th:block>
</html>
