<!--/* 标签页 */-->
<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: layout(title = ~{::title}, header = ~{::header}, content = ~{::content})}"
>
  <th:block th:fragment="title">
    <th:block th:text="${tag.spec.displayName} + '|' + ${site.title}"></th:block>
  </th:block>

  <th:block th:fragment="header">
    <th:block th:replace="~{macro/page-header :: page-header(${tag}, ${tag.spec.cover})}" />
    <!-- <th:block
      th:if="${theme.config.patternimg.patternimg_image} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)}) or (${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)})"
    >
      <div class="pattern-center-blank"></div>
      <div class="pattern-center no-select">
        <div class="pattern-attachment-img">
          <img
            th:if="${theme.config.patternimg.patternimg_image} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)})"
            th:attr="data-src=${not #strings.isEmpty(tag.spec.cover) ? tag.spec.cover : theme.config.patternimg.tag_patternimg}"
            th:src="@{/assets/images/svg/loader/orange.progress-bar-stripe-loader.svg}"
            class="lazyload"
            onerror="imgError(this)"
          />
          <img
            th:unless="${theme.config.patternimg.patternimg_image} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)})"
            th:src="${theme.config.random_image.rimage_url}+'?tagid='+${tag.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}"
            th:attr="
            srcset=${theme.config.random_image.rimage_cover_lqip == 'loading' ? #theme.assets('/images/svg/loader/orange.progress-bar-stripe-loader.svg') : theme.config.random_image.rimage_url + 'tagid=' + tag.metadata.name + '&type=url&itype=' + theme.config.random_image.rimage_cover_itype + (theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : '') + '&th=150'},
            data-srcset=${theme.config.random_image.rimage_url}+'?tagid='+${tag.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+'&th=640 640w,'+
            ${theme.config.random_image.rimage_url}+'?tagid='+${tag.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+'&th=960 960w,'+
            ${theme.config.random_image.rimage_url}+'?tagid='+${tag.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+'&th=1280 1280w,'+
            ${theme.config.random_image.rimage_url}+'?tagid='+${tag.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+' 1440w'"
            data-sizes="auto"
            th:class="'lazyload '+${theme.config.random_image.rimage_cover_lqip == 'lowquality' ? 'blur-up' : ''}"
          />
        </div>
        <header class="pattern-header">
          <h1
            class="cat-title i18n"
            data-iname="page.tags.item.title"
            th:attr="data-ivalue=${tag.spec.displayName}"
          ></h1>
        </header>
      </div>
    </th:block>
    <th:block
      th:unless="${theme.config.patternimg.patternimg_image} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)}) or (${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)})"
    >
      <div class="blank"></div>
      <style>
        .toc-container {
          top: 210px;
        }
      </style>
    </th:block> -->
  </th:block>
  <th:block th:fragment="content">
    <div id="primary" class="content-area" th:with="postItems=${posts.items}">
      <main id="main" class="site-main" role="main">
        <th:block th:if="${posts.totalPages gt 0}">
          <header
            class="page-header"
            th:unless="${theme.config.patternimg.patternimg_image} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)}) or (${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)})"
          >
            <h1 class="cat-title" th:text="${tag.spec.displayName}"></h1>
            <span class="cat-des"></span>
          </header>
          <!--/* Start the Loop */-->
          <th:block th:each="post : ${postItems}">
            <th:block th:replace="~{macro/content :: content(${post})}" />
          </th:block>
          <div class="clearer"></div>
        </th:block>
        <th:block th:unless="${posts.totalPages gt 0}">
          <th:block th:replace="~{macro/content-none}" />
        </th:block>
      </main>
      <!--/* #main */-->
      <!--/* #pagination */-->
      <th:block th:replace="~{module/list-pagination :: pagination(${posts})}"></th:block>
    </div>
    <!--/* #primary */-->
  </th:block>
</html>
