<!--
/**
 * 标签页
 */
-->
<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(header = ~{::header},content = ~{::content})}"
>
  <th:block th:fragment="header">
    <th:block
      th:if="${theme.config.patternimg.patternimg} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)}) and ${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)}"
    >
      <div class="pattern-center-blank"></div>
      <div class="pattern-center no-select">
        <div class="pattern-attachment-img">
          <img
            th:if="${theme.config.patternimg.patternimg} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)})"
            class="lazyload"
            th:attr="data-src=${not #strings.isEmpty(tag.spec.cover) ? tag.spec.cover : theme.config.patternimg.tag_patternimg}"
            th:src="@{/assets/images/svg/loader/orange.progress-bar-stripe-loader.svg}"
            onerror="imgError(this)"
          />
          <img
            th:unless="${theme.config.patternimg.patternimg} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)})"
            src="${settings.rimage_url!}?tagid=${tag.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>"
            srcset="<#if settings.rimage_cover_lqip == 'loading'>${res_base_url!}/source/images/svg/loader/orange.progress-bar-stripe-loader.svg<#else>${settings.rimage_url!}?tagid=${tag.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=150</#if>"
            data-srcset="${settings.rimage_url!}?tagid=${tag.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=640 640w,
                            ${settings.rimage_url!}?tagid=${tag.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=960 960w,
                            ${settings.rimage_url!}?tagid=${tag.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if>&th=1280 1280w,
                            ${settings.rimage_url!}?tagid=${tag.id}&type=url&itype=${settings.rimage_cover_itype!}<#if settings.rimage_cover_itype != 'image'>&id=${(settings.rimage_cover_id)!''}</#if> 1440w"
            data-sizes="auto"
            th:class="'lazyload '+${theme.config.random_image.rimage_cover_lqip == 'lowquality' ? 'blur-up' : ''}"
          />
        </div>
        <header class="pattern-header">
          <h1
            class="cat-title i18n"
            data-iname="page.tags.item.title"
            th:attr="data-ivalue=${tag.spec.displayName}"
          ></h1>
        </header>
      </div>
    </th:block>
    <th:block
      th:unless="${theme.config.patternimg.patternimg} and (${not #strings.isEmpty(tag.spec.cover)} or ${not #strings.isEmpty(theme.config.patternimg.tag_patternimg)}) and ${theme.config.random_image.rimage_cover_sheet_open} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)}"
    >
      <div class="blank"></div>
      <style>
        .toc-container {
          top: 210px;
        }
      </style>
    </th:block>
  </th:block>
  <th:block th:fragment="content">
    <div id="primary" class="content-area" th:with="postItems=${posts.items}">
      <main id="main" class="site-main" role="main">
        <th:block th:if="${posts.totalPages gt 0}">
          <!-- <#if !((settings.patternimg!true) && ((tag.thumbnail?? && tag.thumbnail!='') || (settings.tag_patternimg?? && settings.tag_patternimg!='')) || ((metas.ri?boolean)!true && settings.rimage_cover_sheet_open!true && settings.rimage_url?? && settings.rimage_url!=''))>
                <header class="page-header">
                    <h1 class="cat-title">${tag.name!}</h1>
                    <span class="cat-des">

                    </span>
                </header><!-- .page-header -->
          <!-- </#if> -->
          <!-- Start the Loop -->
          <th:block th:each="post : ${postItems}">
            <th:block th:replace="~{tpl/content :: content(${post})}" />
          </th:block>
          <div class="clearer"></div>
        </th:block>
        <th:block th:unless="${posts.totalPages gt 0}">
          <th:block th:replace="~{tpl/content-none}" />
        </th:block>
      </main>
      <!-- #main -->
      <!-- <@paginationTag method="tagPosts" page="${posts.number}" total="${posts.totalPages}" display="3" slug="${tag.slug!}">
        <#include "layouts/list-nextprev.ftl">
    </@paginationTag> -->
    </div>
    <!-- #primary -->
  </th:block>
</html>
