.header-info {
  max-width: 40%;
  position: relative;
  margin: 0;
  font-size: 16px;
  color: #eaeadf;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  letter-spacing: 0;
  line-height: 30px;
  border-radius: 10px;
  box-sizing: initial;
  white-space: nowrap;
  margin-top: 20px;

  &::before {
    position: absolute;
    left: 20%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
  }

  & p {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    transition: color 0.4s;
  }

  & .desc {
    overflow: hidden;
    white-space: normal;
    text-overflow: clip;
    word-break: keep-all;
    display: inline;
  }
}
