.site-branding {
  float: left;
  position: relative;
  line-height: 75px;
  animation: sitetop 1s;

  & .site-title {
    margin: 0;

    & a {
      color: #464646;
      font-weight: 400;

      &:hover {
        color: var(--theme-color);
      }
    }

    & img {
      &:hover {
        opacity: 1;
      }
    }

    & a,
    & img {
      height: 40px;
      width: 40px;
      margin-top: 17px;
      opacity: 0.75;
      object-fit: cover;
      transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
    }
  }

  @mixin screens-md {
    float: right;
    height: 40px;
    line-height: 40px;

    & .site-title {
      font-size: 20px;
      margin-right: 10px;

      & img {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        margin: 0;
        vertical-align: middle;
      }
    }
  }
}

@keyframes sitetop {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}