<th:block th:fragment="fonts">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Noto+Serif|Sans|Source+Code+Pro|Ubuntu:400,700|Noto+Serif+SC|Merriweather+Sans&display=swap&subset=chinese-simplified,chinese-traditional,latin" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Noto+Serif|Source+Code+Pro|Ubuntu:400,700|Noto+Serif+SC|&display=swap&subset=chinese-simplified,chinese-traditional,latin"
    media="print"
    onload="this.media='all'"
  />
</th:block>