<!-- 全局公共样式 -->
<style type="text/css" th:inline="css">
  /*黑夜模式控件透明度*/
  body.dark .header-info,
  body.dark .top-social img {
    color: #fff;
    background: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/);
  }

  body.dark .the-feature.from_left_and_right .info {
    background-color: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/);
  }

  body.dark .skin-menu,
  body.dark .m-cd-top {
    background-color: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/) !important;
  }

  /*黑夜模式图像亮度*/
  body.dark img,
  body.dark .highlight-wrap,
  body.dark iframe,
  body.dark .entry-content .aplayer {
    filter: brightness(/*[(${theme.config.theme.dark_imgbri})]*/);
  }

  /*黑夜模式主题色*/
  body.dark span.ar-circle,
  body.dark .scrollbar,
  body.dark .butterBar-message,
  body.dark .aplayer .aplayer-list ol li:hover {
    background: /*[(${theme.config.theme.theme_dark})]*/ !important;
  }

  body.dark .aplayer .aplayer-list ol li.aplayer-list-light .aplayer-list-cur,
  body.dark .user-menu-option a:hover,
  body.dark .menu-list li:hover,
  body.dark .font-family-controls button:hover,
  body.dark .openNav .icon,
  body.dark .openNav .icon:before,
  body.dark .openNav .icon:after,
  body.dark .openNav .icon:after,
  body.dark .header-inner ul li a:after {
    background-color: /*[(${theme.config.theme.theme_dark})]*/ ;
  }
  body.dark #archives-temp h3,
  body.dark #moblieGoTop,
  body.dark #mobile-change-skin,
  body.dark .the-feature.from_left_and_right a:hover .info p,
  body.dark .the-feature.from_left_and_right .info,
  body.dark .ins-section .ins-search-item:hover,
  body.dark .ins-section .ins-search-item:hover .ins-slug,
  body.dark .ins-section .ins-search-item:hover .ins-search-preview,
  body.dark .ins-section .ins-search-item:hover .iconfont,
  body.dark .float-content svg:hover,
  body.dark .menhera-container .emoji-item:hover,
  body.dark .comment-respond .logged-in-as a:hover,
  body.dark .header-inner ul li a:hover,
  body.dark .iconsearch:hover {
    color: /*[(${theme.config.theme.theme_dark})]*/ ;
  }

  body.dark .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: /*[(${theme.config.theme.theme_dark})]*/; 
  }

  body.dark #moblieGoTop:hover,
  body.dark #mobile-change-skin:hover {
    color: /*[(${theme.config.theme.theme_dark})]*/ ;
    opacity: 0.8;
  }

  body.dark .focusinfo .header-tou img {
    box-shadow: inset 0 0 10px /*[(${theme.config.theme.theme_dark})]*/;
  }
</style>