<!-- 全局公共样式 -->
<th:block th:if="${theme.config.general.shownav}">
  <style>
    .header-inner .lower nav {
      display: block !important;
    }
  </style>
</th:block>
<style type="text/css" th:inline="css">
  /**
  * 图片资源
  */
  .video-play,
  .loadvideo {
    background-image: url("[(${#theme.assets('/images/play@32x32.png')})]");
  }

  .video-pause {
    background-image: url("[(${#theme.assets('/images/pause@32x32.png')})]");
  }

  #loading-comments {
    background-image: url("[(${#theme.assets('/images/disqus-preloader.svg')})]");
  }

  .headertop.filter-grid:before {
    background-image: url("[(${#theme.assets('/images/grid.png')})]");
  }

  .headertop.filter-dot:before {
    background-image: url("[(${#theme.assets('/images/dot.gif')})]");
  }

  @media (max-width: 860px) {
    .headertop.filter-dot:before {
      background-image: url("[(${#theme.assets('/images/grid.png')})]");
    }
  }

  .search-form.is-visible {
    background-image: url("[(${#theme.assets('/images/other/iloli.gif')})]");
  }

  #pagination .loading,
  #journals-pagination .loading,
  .photos-container .loading {
    background-image: url("[(${#theme.assets('/images/rotating-ball-o.svg')})]");
  }

  #banner_wave_1 {
    background-image: url("[(${#theme.assets('/images/wave1.png')})]") repeat-x;
  }

  #banner_wave_2 {
    background-image: url("[(${#theme.assets('/images/wave2.png')})]") repeat-x;
  }

  .cd-top {
    background: url([(${theme.config.others.top_back_img ?: #theme.assets("/images/scroll.png")})]) no-repeat center;
  }

  .author-profile i,
  .post-like a,
  .post-share .show-share,
  .sub-text,
  .we-info a,
  span.sitename,
  .post-more i:hover,
  #pagination a:hover,
  .post-content a:hover,
  .float-content i:hover {
    color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  .feature i,
  .feature-title span,
  .download,
  .navigator i:hover,
  .links ul li:before,
  .ar-time i,
  span.ar-circle,
  .object,
  .comment .comment-reply-link,
  .siren-checkbox-radio:checked + .siren-checkbox-radioInput:after {
    background: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  ::-webkit-scrollbar-thumb {
    background: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  .download,
  .navigator i:hover,
  .link-title,
  .links ul li:hover,
  #pagination a:hover,
  .comment-respond input[type="submit"]:hover {
    border-color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  .entry-content a:hover,
  .site-info a:hover,
  .comment h4 a,
  #comments-navi a.prev,
  #comments-navi a.next,
  .comment h4 a:hover,
  .header-inner ul li a:hover,
  .entry-title a:hover,
  #archives-temp h3,
  span.page-numbers.current,
  .sorry li a:hover,
  .site-title a:hover,
  i.iconfont.js-toggle-search.iconsearch:hover,
  .comment-respond input[type="submit"]:hover {
    color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  #nprogress .bar {
    background: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  #nprogress .peg {
    box-shadow: 0 0 10px /*[(${theme.config.general.theme_skin})]*/, 0 0 5px /*[(${theme.config.general.theme_skin})]*/;
  }

  #pagination a:hover {
    border: 1px solid /*[(${theme.config.general.theme_skin})]*/;
  }

  #pagination a:hover {
    -webkit-box-shadow: 0 0 4px /*[(${theme.config.general.theme_skin})]*/;
    -moz-box-shadow: 0 0 4px /*[(${theme.config.general.theme_skin})]*/;
    -o-box-shadow: 0 0 4px /*[(${theme.config.general.theme_skin})]*/;
    box-shadow: 0 0 4px /*[(${theme.config.general.theme_skin})]*/;
  }

  .entry-content a:after {
    background-color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  .header-inner ul li a:after {
    background-color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  .post-tags a:hover {
    color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  blockquote:before {
    color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  blockquote:after {
    color: /*[(${theme.config.general.theme_skin})]*/ ;
  }

  @media (max-width: 860px) {
    #mo-nav ul li a:hover {
      color: /*[(${theme.config.general.theme_skin})]*/ ;
    }
  }

  .masonry-gallery .gallery-item {
    margin-bottom: /*[(${theme.config.photos.photos_gutter}+'px')]*/ ;
  }

  /** 日志 */
  .journals-line > li:nth-child(odd) .moment-content:after {
    border-right-color: /*[(${theme.config.journal.journal_color_bg_1})]*/ ;
  }

  .at_button {
    background-color: /*[(${theme.config.journal.journal_color_bg_1})]*/ ;
    color: /*[(${theme.config.journal.journal_color_font_1})]*/ ;
  }

  .at_button:hover {
    background: /*[(${theme.config.journal.journal_color_bg_2})]*/ ;
    color: /*[(${theme.config.journal.journal_color_font_2})]*/ ;
  }

  /*黑夜模式控件透明度*/
  body.dark .header-info,
  body.dark .top-social img {
    color: #fff;
    background: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/);
  }

  body.dark .notification,
  body.dark .the-feature.from_left_and_right .info {
    background-color: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/);
  }

  body.dark .skin-menu,
  body.dark .m-cd-top {
    background-color: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/) !important;
  }

  /*黑夜模式图像亮度*/
  body.dark img,
  body.dark .highlight-wrap,
  body.dark iframe,
  body.dark .entry-content .aplayer {
    filter: brightness(/*[(${theme.config.theme.dark_imgbri})]*/);
  }

  /*黑夜模式主题色*/
  body.dark .ar-time i,
  body.dark span.ar-circle,
  body.dark .scrollbar,
  body.dark .butterBar-message,
  body.dark .aplayer .aplayer-list ol li:hover {
    background: /*[(${theme.config.theme.theme_dark})]*/ !important;
  }

  body.dark .aplayer .aplayer-list ol li.aplayer-list-light .aplayer-list-cur,
  body.dark .user-menu-option a:hover,
  body.dark .menu-list li:hover,
  body.dark .font-family-controls button:hover,
  body.dark .openNav .icon,
  body.dark .openNav .icon:before,
  body.dark .openNav .icon:after,
  body.dark .openNav .icon:after,
  body.dark .header-inner ul li a:after {
    background-color: /*[(${theme.config.theme.theme_dark})]*/ ;
  }
  body.dark #archives-temp h3,
  body.dark #moblieGoTop,
  body.dark #m-changskin,
  body.dark .the-feature.from_left_and_right a:hover .info p,
  body.dark .the-feature.from_left_and_right .info,
  body.dark .ins-section .ins-search-item:hover,
  body.dark .ins-section .ins-search-item:hover .ins-slug,
  body.dark .ins-section .ins-search-item:hover .ins-search-preview,
  body.dark .ins-section .ins-search-item:hover .iconfont,
  body.dark .float-content i:hover,
  body.dark .menhera-container .emoji-item:hover,
  body.dark .comment-respond .logged-in-as a:hover,
  body.dark .header-inner ul li a:hover,
  body.dark i.iconfont.js-toggle-search.iconsearch:hover {
    color: /*[(${theme.config.theme.theme_dark})]*/ ;
  }

  body.dark .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: /*[(${theme.config.theme.theme_dark})]*/; 
  }

  body.dark #moblieGoTop:hover,
  body.dark #m-changskin:hover {
    color: /*[(${theme.config.theme.theme_dark})]*/ ;
    opacity: 0.8;
  }

  body.dark .focusinfo .header-tou img {
    box-shadow: inset 0 0 10px /*[(${theme.config.theme.theme_dark})]*/;
  }
</style>

<th:block th:if="${theme.config.general.cursor_skin == 'sakura'}">
  <style>
    a {
      cursor: url("[(${#theme.assets('/cursor/ayuda.cur')})]"), auto;
    }

    a:active {
      cursor: url("[(${#theme.assets('/cursor/work.cur')})]"), alias;
    }

    p {
      cursor: url("[(${#theme.assets('/cursor/texto.cur')})]"), auto;
    }

    body {
      cursor: url("[(${#theme.assets('/cursor/normal.cur')})]"), auto;
    }

    .cd-top {
      cursor: url("[(${#theme.assets('/cursor/No_Disponible.cur')})]"), auto;
    }

    .botui-actions-buttons-button {
      cursor: url("[(${#theme.assets('/cursor/No_Disponible.cur')})]"), auto;
    }

    .button.botui-actions-buttons-button {
      cursor: url("[(${#theme.assets('/cursor/No_Disponible.cur')})]"), auto;
    }

    .highlight-wrap code {
      cursor: url("[(${#theme.assets('/cursor/texto.cur')})]"), auto;
    }
  </style>
</th:block>

<th:block th:if="${theme.config.others.top_back_mode == 'simplify'}">
  <style>
    .cd-top {
      display: none;
      height: 60px;
      width: 50px;
    }

    .cd-top span {
      height: 10px;
      width: 50px;
    }

    .m-cd-top {
      display: block;
      bottom: 40px;
    }

    @media screen and (max-width: 860px) {
      .m-cd-top {
        bottom: 10px;
      }
    }
  </style>
</th:block>

<th:block th:if="${theme.config.tagAndCategory.tag_cloud}">
  <style>
    @media (min-width: 860px) {
      .tags-container .chip-container {
        margin-top: -60px;
      }
    }
  </style>
</th:block>

<th:block th:if="${theme.config.general.list_type == 'square'}">
  <style>
    .feature img {
      border-radius: 0 !important;
    }

    .feature i {
      border-radius: 0 !important;
    }
  </style>
</th:block>

<th:block th:if="${not #strings.isEmpty(theme.config.journal.journal_bg)}">
  <style>
    .journals-line > li:nth-child(odd) .moment-content {
      color: /*[(${theme.config.journal.journal_color_font_1})]*/ ;
    }
    .journals-line > li .moment-content {
      color: /*[(${theme.config.journal.journal_color_font_2})]*/ ;
    }
  </style>

  <th:block th:if="${theme.config.journal.journal_bg_blur}">
    <style>
      .journals-line > li:nth-child(odd) .moment-content {
        background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35) 95%) 0% 0% / cover,
          url(/*[(${theme.config.journal.journal_bg})]*/) 0% 0% / cover;
      }
      .journals-line > li .moment-content {
        background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35) 95%) 0% 0% / cover,
          url(/*[(${theme.config.journal.journal_bg})]*/) 0% 0% / cover;
      }
    </style>
  </th:block>

  <th:block th:unless="${theme.config.journal.journal_bg_blur}">
    <style>
        .journals-line > li:nth-child(odd) .moment-content {
        background: url(/*[(${theme.config.journal.journal_bg})]*/) 0% 0% / cover;
      }
      .journals-line > li .moment-content {
        background: url(/*[(${theme.config.journal.journal_bg})]*/) 0% 0% / cover;
      }
    </style>
  </th:block>
</th:block>

<th:block th:unless="${not #strings.isEmpty(theme.config.journal.journal_bg)}">
  <style>
    .journals-line > li:nth-child(odd) .moment-content {
      background: /*[(${theme.config.journal.journal_color_bg_1})]*/ ;
      color: /*[(${theme.config.journal.journal_color_font_1})]*/ ;
    }

    .journals-line > li .moment-content {
      background: /*[(${theme.config.journal.journal_color_bg_2})]*/ ;
      color: /*[(${theme.config.journal.journal_color_font_2})]*/ ;
    }
  </style>
</th:block>

<th:block th:if="${#bools.isTrue(theme.config.random_image.rimage_cover_back_open) and (not #strings.isEmpty(theme.config.random_image.rimage_url))}">
  <style>
    .centerbg {
      background-image: url([(${theme.config.random_image.rimage_url})]?home=home&type=url&itype=[(${theme.config.random_image.rimage_cover_back_itype})]&id=[(${theme.config.random_image.rimage_cover_back_id})]&t=[(${#strings.randomAlphanumeric(1)})])
    }
  </style>
</th:block>

<th:block th:unless="${#bools.isTrue(theme.config.random_image.rimage_cover_back_open) and (not #strings.isEmpty(theme.config.random_image.rimage_url))}">
  <style>
    .centerbg {
      background-image: url([(${theme.config.mainScreen.focus_img_1 ?: #theme.assets("/images/hd.jpg")})])
    }
  </style>
</th:block>

<th:block th:unless="${theme.config.mainScreen.focus_height ?: true}">
  <style>
    .centerbg {
      background-position: center center;
      background-attachment: inherit;
    }
  </style>
</th:block>