<!-- 全局公共样式 -->
<style type="text/css" th:inline="css">
  /*黑夜模式控件透明度*/
  body.dark .header-info,
  body.dark .top-social img {
    color: #fff;
    background: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/);
  }

  body.dark .the-feature.from_left_and_right .info {
    background-color: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/);
  }

  body.dark .skin-menu,
  body.dark .m-cd-top {
    background-color: rgba(0, 0, 0, /*[(${theme.config.theme.dark_widget_tmd})]*/) !important;
  }

  /*黑夜模式图像亮度*/
  body.dark img,
  body.dark .highlight-wrap,
  body.dark iframe,
  body.dark .entry-content .aplayer {
    filter: brightness(/*[(${theme.config.theme.dark_imgbri})]*/);
  }

  /*黑夜模式主题色*/
  body.dark span.ar-circle,
  body.dark .scrollbar,
  body.dark .butterBar-message,
  body.dark .aplayer .aplayer-list ol li:hover {
    background: /*[(${theme.config.theme.theme_dark})]*/ !important;
  }

  body.dark .aplayer .aplayer-list ol li.aplayer-list-light .aplayer-list-cur,
  body.dark .user-menu-option a:hover,
  body.dark .menu-list li:hover,
  body.dark .font-family-controls button:hover,
  body.dark .openNav .icon,
  body.dark .openNav .icon:before,
  body.dark .openNav .icon:after,
  body.dark .openNav .icon:after,
  body.dark .header-inner ul li a:after {
    background-color: /*[(${theme.config.theme.theme_dark})]*/ ;
  }
  body.dark #archives-temp h3,
  body.dark #moblieGoTop,
  body.dark #mobile-change-skin,
  body.dark .the-feature.from_left_and_right a:hover .info p,
  body.dark .the-feature.from_left_and_right .info,
  body.dark .ins-section .ins-search-item:hover,
  body.dark .ins-section .ins-search-item:hover .ins-slug,
  body.dark .ins-section .ins-search-item:hover .ins-search-preview,
  body.dark .ins-section .ins-search-item:hover .iconfont,
  body.dark .float-content svg:hover,
  body.dark .menhera-container .emoji-item:hover,
  body.dark .comment-respond .logged-in-as a:hover,
  body.dark .header-inner ul li a:hover,
  body.dark .iconsearch:hover {
    color: /*[(${theme.config.theme.theme_dark})]*/ ;
  }

  body.dark .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: /*[(${theme.config.theme.theme_dark})]*/; 
  }

  body.dark #moblieGoTop:hover,
  body.dark #mobile-change-skin:hover {
    color: /*[(${theme.config.theme.theme_dark})]*/ ;
    opacity: 0.8;
  }

  body.dark .focusinfo .header-tou img {
    box-shadow: inset 0 0 10px /*[(${theme.config.theme.theme_dark})]*/;
  }
</style>

<th:block th:if="${theme.config.general.cursor_skin == 'sakura'}">
  <style>
    a {
      cursor: url("[(${#theme.assets('/cursor/ayuda.cur')})]"), auto;
    }

    a:active {
      cursor: url("[(${#theme.assets('/cursor/work.cur')})]"), alias;
    }

    p {
      cursor: url("[(${#theme.assets('/cursor/texto.cur')})]"), auto;
    }

    body {
      cursor: url("[(${#theme.assets('/cursor/normal.cur')})]"), auto;
    }

    .cd-top {
      cursor: url("[(${#theme.assets('/cursor/No_Disponible.cur')})]"), auto;
    }

    .botui-actions-buttons-button {
      cursor: url("[(${#theme.assets('/cursor/No_Disponible.cur')})]"), auto;
    }

    .button.botui-actions-buttons-button {
      cursor: url("[(${#theme.assets('/cursor/No_Disponible.cur')})]"), auto;
    }

    .highlight-wrap code {
      cursor: url("[(${#theme.assets('/cursor/texto.cur')})]"), auto;
    }
  </style>
</th:block>

<th:block th:if="${theme.config.others.top_back_mode == 'simplify'}">
  <style>
    .cd-top {
      display: none;
      height: 60px;
      width: 50px;
    }

    .cd-top span {
      height: 10px;
      width: 50px;
    }

    .m-cd-top {
      display: block;
      bottom: 40px;
    }

    @media screen and (max-width: 860px) {
      .m-cd-top {
        bottom: 10px;
      }
    }
  </style>
</th:block>

<th:block th:if="${theme.config.tagAndCategory.tag_cloud}">
  <style>
    @media (min-width: 860px) {
      .tags-container .chip-container {
        margin-top: -60px;
      }
    }
  </style>
</th:block>

<th:block th:if="${theme.config.general.list_type == 'round'}">
  <style>
    .feature img {
      border-radius: 50% !important;
    }

    .feature .overlay-inner {
      border-radius: 50% !important;
    }
  </style>
</th:block>

<th:block th:unless="${theme.config.mainScreen.focus_height ?: true}">
  <style>
    .centerbg {
      background-position: center center;
      background-attachment: inherit;
    }
  </style>
</th:block>