<!--/* 跟随 Pjax 进行页面变化的样式 */-->
<!--/* post style */-->
<th:block th:if="${_templateId == 'post'}">
  <style th:inline="css">
    [# th:if="${theme.config.post.post_auto_collapse}" ]
      .yya:not(.sabit) {
        top: -100px;
        transition: all .4s ease;
      }

      .sabit {
        transition: all .4s ease;
      }
    [/]
    [# th:if="${theme.config.post.post_line_indent}" ]
      .entry-content p {
        text-indent: 2em; /*首行缩进*/
      }

      .toc-container {
        right: calc((100% - 1000px - 250px)/2);
      }
    [/]
  </style>
</th:block>
