<th:block th:fragment="content-justify-photos">
  <div class="justify-container">
    <div class="justify-tools">
      <th:block th:replace="~{module/photo/group :: group(${photoFinder.groupBy()})}" />
    </div>

    <div class="photos-content loading">
      <div class="gallery justify-wrapper">
        <th:block th:each="photo : ${photoFinder.listAll()}">
          <div class="gallery-item" th:classappend="${photo.spec.groupName}">
            <a data-fancybox="gallery" th:href="${photo.spec.url}">
              <img
                th:src="${#strings.isEmpty(photo.spec.cover) ? photo.spec.url : photo.spec.cover}"
                th:alt="${photo.spec.displayName}"
              />
            </a>
            <figcaption class="gallery-caption">
              <div class="entry-summary">
                <h3 th:text="${photo.spec.displayName}"></h3>
                <p th:if="${not #strings.isEmpty(photo.spec.description)}" th:text="${photo.spec.description}"></p>
              </div>
            </figcaption>
          </div>
        </th:block>
      </div>
    </div>
  </div>
</th:block>
