<th:block th:fragment="content-page(page)">
  <article th:id="|post-${page.metadata.name}|" class="post-item page type-page status-publish hentry"
    th:classappend="|post-${page.metadata.name}|">

    <header class="pattern-header page-header" itemprop="name headline">
      <h1 class="entry-title" th:text="${page.spec.title}"></h1>
    </header>
<!-- 
    <header class="entry-header">
      <h1 class="entry-title" th:text="${page.spec.title}"></h1>
    </header> -->
    <!--/* .entry-header */-->
    <div th:if="${#annotations.getOrDefault(page, 'toc', true)}" class="toc-container">
      <div class="toc"></div>
    </div>
    <div class="entry-content" th:utext="${page.content.content}"></div>
    <!--/* .entry-content */-->

    <footer class="entry-footer"></footer>
    <!--/* .entry-footer */-->
  </article>
</th:block>
<!--/* #post-## */-->