<!--/*-->
@package Akina
<!--*/-->
<th:block th:fragment="content-thumb(postItems)">
  <article
    th:each="post, postStat : ${postItems}"
    class="post post-list-thumb"
    th:classappend="${postStat.odd ? '' : 'post-list-thumb-left'}"
    itemscope
    itemtype="http://schema.org/Article"
  >
    <link itemprop="mainEntityOfPage" th:href="@{${post.status.permalink}}" />

    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="image" th:content="${post.owner.avatar}" />
      <meta itemprop="name" th:content="${post.owner.displayName}" />
    </span>

    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" th:content="${site.title}" />
      <meta itemprop="description" th:content="${site.subtitle}" />
    </span>

    <span hidden itemprop="post" itemscope itemtype="http://schema.org/CreativeWork">
      <meta itemprop="name" th:content="${post.spec.title}" />
      <meta itemprop="description" th:content="${post.status.excerpt}" />
    </span>

    <div class="post-content-wrap">
      <div class="post-date">
        <i class="iconfont icon-time"> </i>
        <time
          class="i18n"
          data-iname="postlist.time"
          th:datetime="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
          th:attr="data-ivalue=${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
          itemprop="dateCreated datePublished"
        >
        </time>
        <th:block th:if="${post.spec.pinned}"> &nbsp;<i class="iconfont icon-hot hotpost"></i> </th:block>
      </div>
      <a th:href="@{${post.status.permalink}}" class="post-title">
        <h3 th:text="${post.spec.title}"></h3>
      </a>
      <div class="post-meta">
        <span>
          <i class="iconfont icon-attention"></i>
          <spa class="i18n" data-iname="postlist.heat" th:attr="data-ivalue=${post.stats.visit}"></spa
        ></span>
        <span class="comments-number">
          <th:block th:unless="${theme.config.others.keep_record_mode}">
            <i class="iconfont icon-mark"></i>
            <span class="i18n" data-iname="postlist.comments" th:attr="data-ivalue=${post.stats.comment}"> </span>
          </th:block>
        </span>
        <th:block th:if="${#lists.size(post.categories)} gt 0">
          <span>
            <i class="iconfont icon-file"></i>
            <a th:href="${post.categories[0].status.permalink}" th:text="${post.categories[0].spec.displayName}"> </a>
          </span>
        </th:block>
      </div>
      <div class="float-content">
        <p th:text="${post.status.excerpt}"></p>
        <div class="post-bottom">
          <a th:href="@{${post.status.permalink}}" class="button-normal">
            <i class="iconfont icon-caidan"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="post-thumb">
      <a th:href="@{${post.status.permalink}}" th:alt="${post.spec.title}">
        <img
          th:if="${not #strings.isEmpty(post.spec.cover)}"
          class="lazyload"
          th:attr="data-src=${post.spec.cover}"
          th:src="@{/assets/images/svg/loader/orange.progress-bar-stripe-loader.svg}"
          onerror="imgError(this)"
        />
        <img
          th:if="${#strings.isEmpty(post.spec.cover)} and ${theme.config.random_image.rimage_cover_open} and ${#annotations.getOrDefault(post, 'randomImage', true)} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)}"
          th:src="${theme.config.random_image.rimage_url} + '?postid=' + ${post.metadata.name} + '&type=url&itype=' + ${theme.config.random_image.rimage_cover_itype} + ${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}"
          th:attr="
          srcset=${theme.config.random_image.rimage_cover_lqip == 'loading' ? #theme.assets('/images/svg/loader/orange.progress-bar-stripe-loader.svg') : theme.config.random_image.rimage_url + 'postid=' + post.metadata.name + '&type=url&itype=' + theme.config.random_image.rimage_cover_itype + (theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : '') + '&th=150'},
          data-srcset=${theme.config.random_image.rimage_url}+'?postid='+${post.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+'&th=640 640w,'+
          ${theme.config.random_image.rimage_url}+'?postid='+${post.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+'&th=960 960w,'+
          ${theme.config.random_image.rimage_url}+'?postid='+${post.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+'&th=1280 1280w,'+
          ${theme.config.random_image.rimage_url}+'?postid='+${post.metadata.name}+'&type=url&itype='+${theme.config.random_image.rimage_cover_itype}+${theme.config.random_image.rimage_cover_itype != 'image' ? '&id=' + theme.config.random_image.rimage_cover_id : ''}+' 1440w'
          "
          data-sizes="auto"
          th:class="'lazyload '+${theme.config.random_image.rimage_cover_lqip == 'lowquality' ? 'blur-up' : ''}"
          onerror="imgError(this)"
        />
        <img
          th:unless="${#strings.isEmpty(post.spec.cover)} and ${theme.config.random_image.rimage_cover_open} and ${#annotations.getOrDefault(post, 'randomImage', true)} and ${not #strings.isEmpty(theme.config.random_image.rimage_url)}"
          class="lazyload"
          th:data-src="@{/assets/images/temp.jpg}"
          th:src="@{/assets/images/svg/loader/orange.progress-bar-stripe-loader.svg}"
          onerror="imgError(this)"
        />
      </a>
    </div>
  </article>
</th:block>
